<template>
	<view>
		<view class="study-new">
			<image src="../../static/images/study-new.png"></image>
			<view>
				<navigator :url="'../news_page/news_page?id=' + lists.id" hover-class="none">
					<text>{{lists.title}}</text>
					<text>{{lists.date}}</text>
				</navigator>
			</view>
		</view>
		<view class="study-list">
			<view> 
				<navigator url="one/one" hover-class="none">
					<text>建筑技巧</text>
					<text>建筑技巧建筑技巧</text>
					<image src="../../static/images/blue.png"></image>
				</navigator>
			</view>
			<view>
				<navigator url="two/two?id=2" hover-class="none">
					<text>练习题库</text>
					<text>练习题库练习题库</text>
					<image src="../../static/images/green.png"></image>
				</navigator>
			</view>
			<view>
				<navigator url="two/two?id=1&formal=1" hover-class="none">
					<text>考试模式</text>
					<text>考试模式考试模式</text>
					<image src="../../static/images/orange.png"></image>
				</navigator>
			</view>
			<!-- <view>
				<navigator url="four/four" hover-class="none">
					<text>等级测试</text>
					<text>等级测试等级测试</text>
					<image src="../../static/images/violet.png"></image>
				</navigator>
			</view> -->
			<view>
				<navigator url="five/five" hover-class="none">
					<text>历史记录</text>
					<image src="../../static/images/gray.png"></image>
				</navigator>
			</view>
		</view>
	</view>
</template>

<script>
	import request from '../../static/request.js';
	export default {
		data() {
			return {
				datas:{
					type:2
				},
				lists:{}
			};
		},
		onLoad() {
			request.request('/mgr/news/mhm_news_list',this.datas).then(res => {
				this.lists = res.data[0]
			})
		}
	}
</script>

<style lang="less">
	.study-new{
		height:72rpx;
		line-height: 72rpx;
		padding:0 20rpx;
		display: flex;
		image{
			height:72rpx;
			width:48rpx;
		}
		navigator{
			display: block;
			width:662rpx;
			display: flex;
			justify-content: space-between;
			text{
				display: block;
				font-size: 12px;
				color:#999;
				&:nth-child(1){
					max-width: 500rpx;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}
				&:nth-child(2){
					width: 160rpx;
					text-align: right;
				}
			}
		}
	}
	.study-list{
		display: flex;
		justify-content: space-between;
		flex-wrap:wrap;
		padding:0 20rpx;
		view{
			position:relative;
			width:340rpx;
			height:88px;
			margin-bottom: 24rpx;
			border-radius: 10px;
			box-shadow:2px 2px 5px #ccc;
			navigator{
				display: inline-block;
				width:100%;
				height:100%;
				image{
					position: absolute;
					right:0;
					bottom:0;
					width:51px;
					height:51px;
				}
				text{
					display: block;
					margin-left:32rpx;
					height:22px;
					line-height: 22rpx;
					&:nth-child(1){
						margin-top:16px;
						font-size: 15px;
						font-weight: bold;
					}
					&:nth-child(2){
						font-size: 12px;
						width:300rpx;
						overflow: hidden;
					}
				}
			}
			
			&:nth-child(1){
				background:#e5eafd;
				text{
					color:#396de4;
				}
			}
			&:nth-child(2){
				background:#e7f8e9;
				text{
					color:#56c162;
				}
			}
			&:nth-child(3){
				background:#f9ebd4;
				text{
					color:#efab34;
				}
			}
			// &:nth-child(4){
			// 	background:#f4e7fb;
			// 	text{
			// 		color:#c158f4;
			// 	}
			// }
			&:nth-child(4){
				background:#e4e4e5;
				navigator{
					text{
						color:#999999;
						font-size: 18px;
						margin-top:20px;
						font-weight: 500;
					}
				}
			}
		}
	}
</style>
