<template>
	<view class="test-page">
		<questions :aid="oid" :screenWidth="screenWidth"></questions>
		<!-- if true => 直接下一题 else 点击下一题 -->
	</view>
</template>

<script>
	import questions from '../../../components/questions.vue';
	export default {
		data() {
			return {
				screenWidth:0
			};
		},
		onLoad(e) {
			this.screenWidth = uni.getSystemInfoSync().screenWidth
		},
		methods:{
			
		},
		components:{
			questions
		}
	}
</script>

<style lang="less">
	.test-page{
		height:100%;
	}
</style>
