<template>
	<view class="index-page">
		<view class="header nav-bar">
			<view class="address">
				<picker @change="obtain" mode='region'>
					<view><text>{{address}}</text></view>
				</picker>
				<image src="../../static/images/address.png"></image>
			</view>
			<view class="search-input" @click="searchNav">
				<input type="text" disabled="true" placeholder="请输入搜索的关键词" />
				<view>
					<image src="../../static/images/search.png"></image>
				</view>
			</view>
		</view>
		<view class="banner">
			<swiper :autoplay="true" :interval="3000" :duration="1000" circular="true">
				<swiper-item v-for="item in banner" :key="item.id">
					<navigator :url="'../news_page/news_page?id=' + item.id" hover-class="none">
						<image :src="item.img"></image>
					</navigator>
				</swiper-item>
			</swiper>
			<!-- <navigator :url="'../news_page/news_page?id=' + banner.id" hover-class="none">
				<image :src="banner.img"></image>
			</navigator> -->
		</view>
		<view class="nav">
			<view class="nav-t">
				<navigator url="" @click="navigator" hover-class="none">
					<view>
						<image src="../../static/images/fabu.png"></image>
					</view>
					<text>信息发布</text>
				</navigator>
			</view>
			<view class="nav-o">
				<navigator url="../list/list" hover-class="none">
					<view>
						<image src="../../static/images/xm2.png"></image>
					</view>
					<text>信息列表</text>
				</navigator>
			</view>
			<view class="nav-s">
				<navigator url="../craftsman-list/craftsman-list" hover-class="none">
					<view>
						<image src="../../static/images/gj2.png"></image>
					</view>
					<text>工匠列表</text>
				</navigator>
			</view>
		</view>
		<view class="new">
			<view class="new-left">
				<view class="new-title">
					<text>每日推送</text>
				</view>
				<view class="new-text">
					<navigator :url="'../news_page/news_page?id=' + news.id" hover-class="none">
						<text>{{news.title}}</text>
					</navigator>
				</view>
			</view>
			<view class="new-right">
				<navigator :url="'../news_page/news_page?id=' + news.id" hover-class="none">
					<image :src="news.img" mode=""></image>
				</navigator>
			</view>
		</view>
		<view class="bg-border"></view>
		<view class="list">
			<view class="list-title">
				<text>首页推荐</text>
			</view>
			<view class="list-cont">
				<view v-if="datas.length<=0" class="no-info">
					暂无数据
				</view>
				<listItem v-for="(item,index) in datas" :key="index" :lists="item" v-else></listItem>
			</view>
		</view>
		<view class="list-more">
			<navigator :url="'../list/list?id=' + id" hover-class="none">
				<text>查看更多></text>
			</navigator>
		</view>
	</view>
</template>
<script>
	import listItem from '../../components/list.vue';
	import request from 'static/request.js'
	export default {
		data() {
			return {
				address: '位置',
				// amapPlugin: null,  
				// key: '6c11463350a305e720fc801ed976abaa',
				banner: '',
				// nav:{},
				datas: [],
				news: {},
				is_real: 2,

			}
		},

		onLoad(e) {
			//获取openid
			request.login();

			//获取每日推送
			request.request('/mgr/news/mhm_news_list', {
				type: 2
			}).then(res => {
				this.news = res.data[0]
			})

			//获取banner
			request.request('/mgr/news/mhm_news_list', {
				type: 3
			}).then(res => {
				this.banner = res.data
			})
		},
		onShow() {
			//获取位置
			this.getLocal();
			//获取推荐
			if (uni.getStorageSync("openid")) {
				if (uni.getStorageSync("local")) {
					let local = JSON.parse(uni.getStorageSync("local"));
					this.getIndexList(local.adcode)
				} else {
					this.getIndexList()
				}
			}
		},
		methods: {
			//首页推荐列表 type=2——项目 type=3——材料 type=4——机械
			getIndexList(id) {
				this.datas = []
				request.request('/mgr/info/mhm_index_list', {
					id: id
				}).then(res => {
					if (res.data.data.list != []) {
						res.data.data.list.forEach(item => {
							this.datas.push({
								"code": item.type - 1,
								"lists": [item]
							})
						})
					}
				})
			},
			//获取位置信息
			getLocal() {
				if (uni.getStorageSync("local")) {
					let local = JSON.parse(uni.getStorageSync("local"));
					this.address = local.address
				} else {
					uni.getLocation({
						type: 'wgs84',
						success: (res) => {
							request.request("/mgr/common/getCityName", {
								lat: res.latitude,
								lng: res.longitude
							}).then(res => {
								this.address = res.data.result.ad_info.district
								const adcode = res.data.result.ad_info.adcode
								// uni.setStorageSync("adcode", adcode)
								let local = JSON.stringify({
									"adcode": res.data.result.ad_info.adcode,
									"address": res.data.result.ad_info.district
								})
								uni.setStorageSync("local", local)
							})
						},
						fail: (err) => {
							this.address = "朝阳区"
							let local = JSON.stringify({
								"adcode": "110105",
								"address": "朝阳区"
							})
							uni.setStorageSync("local", local)
							
						}
					});
				}
			},
			//发布信息跳转实名页面
			navigator() {
				//获取是否实名认证
				request.request('/mgr/member/mmh_real', {}).then(res => {
					this.is_real = res.data
					if (this.is_real === 1) {
						uni.navigateTo({
							url: "../release/release"
						});
					} else {
						uni.showModal({
							title: '提示',
							content: '您还未实名，点击确认前去实名认证。',
							success: function(res) {
								if (res.confirm) {
									uni.navigateTo({
										url: "../my_certification/my_certification"
									});
								}
							}
						})
					}
				})
			},
			//跳转到查询页
			searchNav() {
				uni.navigateTo({
					url: "../search/search"
				});
			},
			//选择位置
			obtain(e) {
				uni.showLoading({
					title: '请求数据中'
				});
				this.address = e.detail.value[2]
				this.getIndexList(e.detail.code[2]);
				let local = JSON.stringify({
					"adcode": e.detail.code[2],
					"address": e.detail.value[2]
				})
				uni.setStorageSync("local", local)
			}
		},
		components: {
			listItem
		}
	}
</script>

<style lang="less">
	.index-page {
		.header {
			width: 750rpx;
			height: 120rpx;
			line-height: 120rpx;
			display: flex;
			justify-content: center;
			background: #fff;

			.address {
				display: flex;
				justify-content: center;
				max-width: 155rpx;

				text {
					color: #2b57a0;
					font-size: 14px;
					display: inline-block;
					max-width: 112rpx;
					text-align: center;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				image {
					width: 24rpx;
					height: 12rpx;
					margin-top: 58rpx;
					margin-left: 10rpx;
				}
			}

			.search-input {
				width: 540rpx;
				height: 70rpx;
				margin-top: 25rpx;
				margin-left: 20rpx;
				font-size: 14px;
				border: solid 1px #ddd;
				border-radius: 70rpx;
				display: flex;

				input {
					width: 400rpx;
					height: 70rpx;
					line-height: 70rpx;
					padding: 0 30rpx;
					color: #666;
				}

				view {
					width: 80rpx;
					border-left: solid 1px #ddd;
					display: flex;
					justify-content: center;

					image {
						width: 36rpx;
						height: 36rpx;
						margin-top: 17rpx;
					}
				}
			}

			.admin {
				width: 155rpx;
				text-align: center;

				image {
					width: 62rpx;
					height: 62rpx;
					margin-top: 29rpx;

				}
			}
		}

		.banner {
			background: #f5f5f5;
			text-align: center;

			swiper {
				height: 347rpx;
			}

			image {
				width: 690rpx;
				height: 307rpx;
				margin: 20rpx auto;
				border-radius: 7px;
			}
		}

		.nav {
			display: flex;
			justify-content: space-around;
			text-align: center;
			background: #f5f5f5;
			padding: 0 20rpx 20rpx;

			&>view {
				view {
					width: 88rpx;
					height: 88rpx;
					background-image: linear-gradient(#8ca0fd, #254596);
					border-radius: 18px;
					margin: 0 auto;

					image {
						width: 40rpx;
						height: 40rpx;
						margin-top: 24rpx;
					}
				}

				text {
					color: #555;
					font-size: 13px;
				}
			}
		}

		.new {
			height: 156rpx;
			padding: 20rpx;
			display: flex;
			justify-content: space-between;

			.new-left {
				width: 380rpx;

				.new-title {
					height: 56rpx;
					line-height: 56rpx;

					image {
						width: 14rpx;
						height: 22rpx;
						margin-left: 10rpx;
					}

					text {
						font-size: 12px;
						color: #333;
						font-weight: 600;
					}
				}

				.new-text {
					margin-top: 10rpx;

					text {
						font-size: 14px;
						color: #333;
						display: inline-block;
						width: 380rpx;
						height: 80rpx;
						line-height: 40rpx;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						overflow: hidden;
					}
				}
			}

			.new-right {
				width: 310rpx;

				image {
					width: 310rpx;
					height: 156rpx;
					border-radius: 7rpx;
				}
			}
		}

		.bg-border {
			background: #f5f5f5;
			height: 8px;
		}

		.list {
			width: 710rpx;
			padding: 0 20rpx;

			.list-title {
				height: 50rpx;
				line-height: 50rpx;
				border-left: solid 3px #728ccc;
				padding-left: 20rpx;
				margin: 20rpx 0;

				text {
					font-size: 16px;
					color: #333;
				}
			}

			.list-cont {
				padding: 0 20rpx;

				.no-info {
					width: 100%;
					text-align: center;
					line-height: 80rpx;
				}

				.sub-tit {
					font-size: 28rpx;
					line-height: 40rpx;
					width: 100%;

					text {
						color: #728ccc;
						margin-right: 20rpx;
					}
				}

				.list-cont-item {
					background: #f5f5f5;
					padding: 20rpx;
					width: 630rpx;
					margin-top: 16rpx;

					&:nth-child(1) {
						margin-top: 0;
					}

					.list-item-title {
						display: flex;
						justify-content: space-between;

						text {
							font-size: 16px;
							color: #333;

							&:nth-child(2) {
								font-size: 12px;
								color: #c32018;
							}
						}
					}

					.list-item-text {
						margin-top: 30rpx;
						display: flex;
						justify-content: space-between;
						height: 50rpx;
						line-height: 50rpx;

						text {
							font-size: 14px;
							color: #333;

							&:nth-child(2) {
								font-size: 14px;
								color: #666;

								text {
									font-size: 18px;
									color: #d51f1f;
								}
							}
						}
					}
				}
			}
		}

		.list-more {
			background: #f5f5f5;
			text-align: center;
			height: 80rpx;
			line-height: 80rpx;
			font-size: 12px;
			color: #666;
			margin-top: 20rpx;
		}
	}
</style>
