<template>
	<view class="artisan-page">
		<view class="artisan-data" v-show="otype == 1">
			<view class="artisan-data-left">
				<image :src="datas.head"></image>
			</view>
			<view class="artisan-data-right">
				<view class="artisan-data-top">
					<text>{{datas.name}}</text>
					<image src="../../static/images/sc2.png" v-if="!code" @click="collect">
					<image src="../../static/images/sc.png" v-else @click="collect">
				</view>
				<view class="artisan-data-bottom">
					<text v-if="datas.sex == 1">男-{{datas.age}}岁</text>
					<text v-else>女-{{datas.age}}岁</text>
				</view>
			</view>
		</view>
		<view class="artisan-data" v-show="otype != 1">
			<view class="artisan-data-title">
				<view>{{datas.title}}</view>
				<view class="artisan-data-top">
					<text>联系人：{{datas.contact}}</text>
					<image src="../../static/images/sc2.png" v-if="!code" @click="collect">
					<image src="../../static/images/sc.png" v-else @click="collect">
				</view>
			</view>
		</view>
		<view class="artisan-cont" v-show="otype == 1">
			<view class="artisan-title"><text>工匠详情：</text></view>
			<view class="artisan-cont-one">
				<text>工龄：{{datas.work_years}}年</text>
				<text>期望日薪：<text>{{datas.wage}}</text>￥</text>
				<text v-if="worktype.length >= 1">
					工种：
					<text v-for="(item,index) in worktype" :key="index" v-if="index == 0">{{item}}</text>
					<text v-for="(item,index) in worktype" :key="index" v-if="index != 0">-{{item}}</text>
				</text>
				<text v-else>
					工种：
					<text>暂无</text>
				</text>
				<text>目标工作地：{{datas.wareaprovince.name}}-{{datas.wareacity.name}}-{{datas.wareacounty.name}}</text>
				<text>现居住地：{{datas.areaprovince.name}}-{{datas.areacity.name}}-{{datas.areacounty.name}}</text>
			</view>
			<view class="artisan-title"><text>项目经验：</text></view>
			<view class="artisan-cont-two">
				<view v-if="datas.experience != null">{{datas.experience}}</view>
				<view v-else>暂无项目经验</view>
			</view>
			<view class="artisan-title"><text>个人简介：</text></view>
			<view class="artisan-cont-two">
				<view v-if="datas.abstract != null">{{datas.abstract}}</view>
				<view v-else>暂无个人简介</view>
			</view>
		</view>
		
		<view class="artisan-cont" v-show="otype == 2">
			<view class="artisan-title"><text>项目详情：</text></view>
			<view class="artisan-cont-one">
				<text>要求工龄：{{datas.work_years}}年</text>
				<text>日薪：<text>{{datas.wage}}</text>￥</text>
				<text>
					招聘工种：
					<text v-for="(item,index) in worktype" :key="index" v-if="index == 0">{{item}}</text>
					<text v-for="(item,index) in worktype" :key="index" v-if="index != 0">-{{item}}</text>
				</text>
				<text>项目工期：{{datas.start_date}}至{{datas.end_date}}</text>
				<text>项目所在地：{{datas.areaprovince.name}}-{{datas.areacity.name}}-{{datas.areacounty.name}}</text>
				<text>详细地址：{{datas.addr}}</text>
			</view>
			<view class="artisan-title"><text>项目展示：</text></view>
			<view class="artisan-cont-one">
				<image v-for="(item,index) in imgs" :key="index" :src="item" mode="widthFix"></image>
			</view>
		</view>
		
		<view class="artisan-cont" v-show="otype == 3">
			<view class="artisan-title"><text>材料详情：</text></view>
			<view class="artisan-cont-one">
				<text>材料名称：{{datas.material}}</text>
				<text>材料类别：{{datas.materialtype.name}}</text>
				<text>计价方式：{{datas.unitmaterial.name}}</text>
				<text>单价：<text>{{datas.price}}</text>￥</text>
				<text>货源地：{{datas.areaprovince.name}}-{{datas.areacity.name}}-{{datas.areacounty.name}}</text>
				<text>详细地址：{{datas.addr}}</text>
			</view>
			<view class="artisan-title"><text>材料展示：</text></view>
			<view class="artisan-cont-one">
				<image v-for="(item,index) in imgs" :key="index" :src="item" mode="widthFix"></image>
			</view>
		</view>
		
		<view class="artisan-cont" v-show="otype == 4">
			<view class="artisan-title"><text>设备详情：</text></view>
			<view class="artisan-cont-one">
				<text>设备名称：{{datas.machinename.name}}</text>
				<text>租赁方式：{{datas.unitmachine.name}}</text>
				<text>租金：<text>{{datas.price}}</text>￥</text>
				<text>货源地：{{datas.areaprovince.name}}-{{datas.areacity.name}}-{{datas.areacounty.name}}</text>
				<text>详细地址：{{datas.addr}}</text>
			</view>
			<view class="artisan-title"><text>设备展示：</text></view>
			<view class="artisan-cont-one">
				<image v-for="(item,index) in imgs" :key="index" :src="item" mode="widthFix"></image>
			</view>
		</view>
		
		<view class="artisan-btn" @click="contact">
			<image src="../../static/images/dh.png"></image>
			<text>电话联系</text>
		</view>
	</view>
</template>

<script>
	import request from '../../static/request.js';
	export default {
		data() {
			return {
				oid:0,
				otype:1,//1工匠 2项目 3材料 4机械
				code:false,//是否收藏 true已收藏 false未收藏
				datas:{
					name:'李先生',
					head:'',
					areacity:{
						name:'海门市'
					},
					worktype:['木工','土工'],
					wage:'300',
					age:31,
					sex:1,//1男 2女
					addr:'现居住地',
					abstract:'个人简介',
					experience:'项目经验',
					tel:15131956793
				},
				worktype:[],
				imgs:[],
				is_real:2,
			};
		},
		onLoad(e) {
			this.oid = e.id
			this.otype = e.type
			
			if(e.type == 1){
				uni.setNavigationBarTitle({
				    title: '工匠详情'
				});
			}else if(e.type == 2){
				uni.setNavigationBarTitle({
				    title: '项目信息'
				});
			}else if(e.type == 3){
				uni.setNavigationBarTitle({
				    title: '材料信息'
				});
			}else if(e.type == 4){
				uni.setNavigationBarTitle({
				    title: '设备信息'
				});
			}
			
			//获取是否实名认证
			request.request('/mgr/member/mmh_real',{}).then(res => {
				this.is_real = res.data
			})
			
			request.request('/mgr/info/browse',{id:e.id,type:e.type}).then(res => {
				
			})
			
			request.request('/mgr/info/mhm_info_detail',{id:e.id,type:e.type}).then(res => {
				console.log(res.data);
				this.datas = res.data
				this.code = res.data.collection
				if(e.type == 1){
					res.data.worktype.forEach(e => {
						this.worktype.push(e.work.name)
					})
				}else if(e.type == 2){
					res.data.infotype.forEach(e => {
						this.worktype.push(e.work.name)
					})
				}
				if(e.type != 1){
					res.data.infoimg.forEach(e => {
						this.imgs.push(e.img)
					})
				}
			})
		},
		methods:{
			contact(){
				let that = this
				if(that.is_real === 1){
					uni.makePhoneCall({
					    phoneNumber: that.datas.tel
					});
				}else{
					uni.showModal({
						title:'提示',
						content:'您还未实名，点击确认前去实名认证。',
						success: function (res) {
							if(res.confirm) {
								uni.navigateTo({
								    url: "../my_certification/my_certification"
								});
							}
						}
					})
				}
			},
			collect(){
				request.request('/mgr/info/collection',{id:this.oid,type:this.otype}).then(res => {
					if(res.data.code == 10005){
						this.code = !this.code
						if(this.code){
							uni.showToast({
							    title: '收藏成功',
								icon:'none',
							    duration: 2000
							});
						}else if(!this.code){
							uni.showToast({
							    title: '已取消收藏',
								icon:'none',
							    duration: 2000
							});
						}
					}
				})
			}
		}
	}
</script>

<style lang="less">
	.artisan-page{
		padding-bottom: 130rpx;
	}
	.artisan-data{
		border-bottom: solid 1px #eee;
		display: flex;
		padding:30rpx;
		font-size: 16px;
		color:#333;
		.artisan-data-left{
			width:140rpx;
			height:140rpx;
			border-radius: 50%;
			overflow: hidden;
			image{
				width:100%;
				height:100%;
			}
		}
		.artisan-data-right,.artisan-data-title{
			width:530rpx;
			margin-left:20rpx;
			.artisan-data-top{
				display: flex;
				justify-content: space-between;
				height:70rpx;
				line-height: 70rpx;
				text{
					font-size: 17px;
					color:#333;
				}
				image{
					width:40rpx;
					height:40rpx;
					margin-top:15rpx;
				}
			}
			.artisan-data-bottom{
				display: flex;
				justify-content: space-between;
				height:70rpx;
				line-height: 70rpx;
				text{
					&:nth-child(1){
						font-size: 14px;
						color:#666666;
					}
					&:nth-child(2){
						font-size: 14px;
						color:#666666;
						text{
							font-size: 18px;
							color:#d51f1f;
						}
					}
				}
			}
		}
		
		.artisan-data-title{
			width:100%;
			margin-left:0;
			.artisan-data-top{
				height:70rpx;
				line-height: 70rpx;
				margin-top: 20rpx;
				text{
					font-size: 14px;
					color:#555;
				}
			}
		}
	}
	.artisan-cont{
		padding:0 20rpx;
		.artisan-title{
			height:80rpx;
			line-height: 80rpx;
			font-size: 15px;
			color:#666;
		}
		.artisan-cont-one,.artisan-cont-two{
			background:#f5f5f5;
			width:610rpx;
			margin:0 auto;
			padding:20rpx;
			display: flex;
			flex-direction: column;
			&>text{
				font-size: 14px;
				color:#444;
				line-height: 24px;
			}
			view{
				text-align: left;
				display: flex;
				flex-direction: column;
				border-left:solid 2px #c87753;
				padding-left:20rpx;
				margin-top:20rpx;
				font-size: 14px;
				color:#444;
				line-height: 24px;
				&:nth-child(1){
					margin-top:0;
				}
				text{
					font-size: 14px;
					color:#664446;
					line-height: 24px;
				}
			}
			image{
				max-width: 100%;
				margin-bottom: 5px;
			}
		}
	}
	.artisan-btn{
		position: fixed;
		bottom:0;
		left:0;
		height:116rpx;
		width:100%;
		display: flex;
		justify-content: center;
		background:#2a4e65;
		line-height: 116rpx;
		image{
			width:50rpx;
			height:50rpx;
			margin-top:33rpx;
			margin-right:20rpx;
		}
		text{
			font-size: 16px;
			color:#fff;
		}
	}
</style>