<template>
	<view class="history-page">
		<view class="history-item" v-for="(item,index) in lists" :key="index">
			<navigator :url="'../two/two?id=1&formal=2&tid=' + item.id" hover-class="none">
				<view>
					<text><text>考试模拟</text></text>
					<text>考试用时：{{item.when}}</text>
				</view>
				<view>
					<text>分数：<text :class="{active:item.status == 1,active2:item.status == 2}">{{item.score}}</text></text>
					<text>{{item.date}}</text>
				</view>
			</navigator>
			<image :src="item.status == 2?'../../../static/images/false.png':'../../../static/images/true.png'"></image>
			<view class="history-del" @click="del(index)">
				<image src="../../../static/images/del2.png"></image>
			</view>
		</view>
		<view class="history-alert">
			<text>全场回顾</text>
			<text>只看错题</text>
		</view>
	</view>
</template>

<script>
	import request from 'static/request.js'
	export default {
		data() {
			return {
				lists:[]
			};
		},
		onLoad() {
			let that = this
			request.request('/mgr/question/mhm_testpaper_list',{}).then(res => {
				that.lists = res.data
			})
		},
		methods:{
			del(e){
				let that = this
				uni.showModal({
				    title: '提示',
				    content: '确认删除此条记录？',
				    success: function (res) {
				        if (res.confirm) {
							request.request('/mgr/question/mhm_testpaper_del',{id:that.lists[e].id}).then(res => {
								that.lists.splice(e,1)
							})
				        } else if (res.cancel) {
				            console.log('用户点击取消');
				        }
				    }
				});
			}
		}
	}
</script>

<style lang="less">
	.history-page{
		padding:40rpx;
		position: relative;
		display: flex;
		flex-direction: column;
	}
	.history-item{
		width:640rpx;
		height:120rpx;
		position: relative;
		background:#f3f3f3;
		box-shadow:3px 3px 5px #ddd;
		padding:20rpx;
		margin-bottom:40rpx;
		navigator{
			position: relative;
			z-index: 10;
		}
		view{
			display: flex;
			justify-content: space-between;
			line-height: 60rpx;
			text{
				font-size: 13px;
				color:#666;
				&:nth-child(1){
					color:#333;
					font-size: 16px;
				}
			}
			&:nth-child(2){
				text{
					&:nth-child(1){
						color:#555;
						font-size: 14px;
						text{
							font-size: 18px;
						}
					}
					&.active{
						color:#1296db;
					}
					&.active2{
						color:#e25c4b;
					}
				}
			}
		}
		.history-del{
			width:40rpx;
			height:40rpx;
			position: absolute;
			top:-20rpx;
			right:-20rpx;
			image{
				width:100%;
				height:100%;
			}
		}
		&>image{
			width:120rpx;
			height:120rpx;
			position: absolute;
			bottom:20rpx;
			right:280rpx;
			opacity: .5;
			z-index: 1;
		}
	}
	.history-alert{
		display: none;
	}
</style>
