<template>
	<view class="list-page">
		<view>
			<view class="screen-nav">
				<view v-for="(item,index) in navs" :key="index" :class="{active:index==oid}">
					<picker @change="listNav" :mode="item.mode" :range="item.range" @click="hover(index)">
						<text>{{item.name}}</text>
						<image :src="index==oid?item.iconHover:item.icon"></image>
					</picker>
				</view>
			</view>
			<view class="screen-keyword" v-if="keywords.length >= 1">
				<view v-for="(item,index) in keywords" :key="index" v-if="item != ''">
					<image src="../../static/images/del2.png" @click="delImg(index)"></image>
					{{item}}
				</view>
			</view>
		</view>
		<listItem :lists="datas"></listItem>
		<load :animationData="animationData" :off="off"></load>
	</view>
</template>

<script>
	// import screen from "../../components/screen.vue";
	import listItem from "../../components/list.vue";
	import load from "../../components/load.vue";
	import request from '../../static/request.js';
	export default {
		data() {
			return {
				navs:[],
				datas:{//渲染到页面的数据
					code:0,
					lists:{}
				},
				type:0,//数据类型
				off:0,
				oid:10,
				keywords:['','','',''],//所选的筛选条件
				animation:{},
				animationData:{},
				lists:{//传给后台的数据
					address:'',
					offset:0,//当前页
					length:10,//每页数据
					work:'',//工种
					wage:'',//薪资高低排序 1由高到低 2由低到高
					work_years:'',//工龄排序
					type:'',//材料类别
					price:'',//材料单价排序
					unit:'',//材料单位
					type2:'',//机械类别
					rent:'',//租金排序
					mode:'',//租赁方式
				}
			}
		},
		onLoad(e) {
			this.type = e.id*1
			let that = this
			switch(this.type){
				case 1:
					uni.setNavigationBarTitle({
					    title: '工匠列表'
					});
					this.navs = [
						{
							name:'城市',
							icon:require('../../static/images/address-list.png'),
							iconHover:require('../../static/images/address-list-hover.png'),
							mode:'region',
							range:[]
						},
						{
							name:'工种',
							icon:require('../../static/images/xl-list.png'),
							iconHover:require('../../static/images/xl-list-hover.png'),
							mode:'selector',
							range:[]
						},
						{
							name:'日薪',
							icon:require('../../static/images/sj-list.png'),
							iconHover:require('../../static/images/sj-list-hover.png'),
							mode:'selector',
							range:['日薪从高到底','日薪从低到高']
						},
						{
							name:'工龄',
							icon:require('../../static/images/sj-list.png'),
							iconHover:require('../../static/images/sj-list-hover.png'),
							mode:'selector',
							range:['工龄从高到底','工龄从低到高']
						}
					]
					request.request('/mgr/common/re_work_type',{}).then(res => {
						console.log(res);
						this.navs[1].range = []
						res.data.forEach(e => {
							that.navs[1].range.push(e.name)
						})
					})
					request.request('/mgr/info/mhm_info_member',this.lists).then(res => {
						console.log(res);
						this.datas.code = 1
						// this.keywords[0] = res.data.data.areaname
						this.datas.lists = res.data.data.list
					})
					break;
				case 2:
					uni.setNavigationBarTitle({
						title: '项目列表'
					});
					this.navs = [
						{
							name:'城市',
							icon:require('../../static/images/address-list.png'),
							iconHover:require('../../static/images/address-list-hover.png'),
							mode:'region',
							range:[]
						},
						{
							name:'工种',
							icon:require('../../static/images/xl-list.png'),
							iconHover:require('../../static/images/xl-list-hover.png'),
							mode:'selector',
							range:[]
						},
						{
							name:'日薪',
							icon:require('../../static/images/sj-list.png'),
							iconHover:require('../../static/images/sj-list-hover.png'),
							mode:'selector',
							range:['日薪从高到底','日薪从低到高']
						},
						{
							name:'工龄',
							icon:require('../../static/images/sj-list.png'),
							iconHover:require('../../static/images/sj-list-hover.png'),
							mode:'selector',
							range:['工龄从高到底','工龄从低到高']
						}
					];
					request.request('/mgr/common/re_work_type',{}).then(res => {
						console.log(res);
						this.navs[1].range = []
						res.data.forEach(e => {
							that.navs[1].range.push(e.name)
						})
					})
					request.request('/mgr/info/mhm_info_project',this.lists).then(res => {
						console.log(res);
						this.datas.code = 2
						// this.keywords[0] = res.data.data.areaname
						this.datas.lists = res.data.data.list
					})
					break;
				case 3:
					uni.setNavigationBarTitle({
						title: '材料列表'
					});
					this.navs = [
						{
							name:'城市',
							icon:require('../../static/images/address-list.png'),
							iconHover:require('../../static/images/address-list-hover.png'),
							mode:'region',
							range:[]
						},
						{
							name:'类别',
							icon:require('../../static/images/xl-list.png'),
							iconHover:require('../../static/images/xl-list-hover.png'),
							mode:'selector',
							range:['金属','木质','陶瓷','玻璃','塑料','纸质','石质','布料','其他']
						},
						{
							name:'单价',
							icon:require('../../static/images/sj-list.png'),
							iconHover:require('../../static/images/sj-list-hover.png'),
							mode:'selector',
							range:['单价从高到底','单价从低到高']
						},
						{
							name:'单位',
							icon:require('../../static/images/xl-list.png'),
							iconHover:require('../../static/images/xl-list-hover.png'),
							mode:'selector',
							range:['按平米（㎡）','按长度（m）','按个数（个）','按重量（kg）','其他']
						}
					]
					request.request('/mgr/common/get_material_type',{}).then(res => {
						console.log(res);
						this.navs[1].range = []
						res.data.forEach(e => {
							this.navs[1].range.push(e.name)
						})
					})
					request.request('/mgr/common/get_material',{}).then(res => {
						console.log(res);
						this.navs[3].range = []
						res.data.forEach(e => {
							this.navs[3].range.push(e.name)
						})
					})
					request.request('/mgr/info/mhm_info_machine',this.lists).then(res => {
						console.log(res);
						this.datas.code = 3
						// this.keywords[0] = res.data.data.areaname
						this.datas.lists = res.data.data.list
					})
					break;
				case 4:
					uni.setNavigationBarTitle({
						title: '机器列表'
					});
					this.navs = [
						{
							name:'城市',
							icon:require('../../static/images/address-list.png'),
							iconHover:require('../../static/images/address-list-hover.png'),
							mode:'region',
							range:[]
						},
						{
							name:'类别',
							icon:require('../../static/images/xl-list.png'),
							iconHover:require('../../static/images/xl-list-hover.png'),
							mode:'selector',
							range:['金属','木质','陶瓷','玻璃','塑料','纸质','石质','布料','其他']
						},
						{
							name:'租金',
							icon:require('../../static/images/sj-list.png'),
							iconHover:require('../../static/images/sj-list-hover.png'),
							mode:'selector',
							range:['租金从高到底','租金从低到高']
						},
						{
							name:'租赁方式',
							icon:require('../../static/images/xl-list.png'),
							iconHover:require('../../static/images/xl-list-hover.png'),
							mode:'selector',
							range:['按时租赁','按天租赁','按月租赁','按年租赁']
						}
					]
					request.request('/mgr/common/get_machine',{}).then(res => {
						this.navs[1].range = []
						res.data.forEach(e => {
							this.navs[1].range.push(e.name)
						})
					})
					request.request('/mgr/common/get_unit',{}).then(res => {
						this.navs[3].range = []
						res.data.forEach(e => {
							this.navs[3].range.push(e.name)
						})
					})
					request.request('/mgr/info/mhm_info_material',this.lists).then(res => {
						console.log(res);
						this.datas.code = 4
						// this.keywords[0] = res.data.data.areaname
						this.datas.lists = res.data.data.list
					})
			}
		},
		onShow() {
			
		},
		methods: {
			hover(e){
				this.oid = e
			},
			delImg(e){
				this.lists.offset = 0
				this.keywords[e] = ''
				if(this.type == 1){
					if(e == 0){
						this.lists.address = ''
					}else if(e == 1){
						this.lists.work = ''
					}else if(e == 2){
						this.lists.wage = ''
						this.lists.work_years = ''
					}
					request.request('/mgr/info/mhm_info_member',this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				}else if(this.type == 2){
					if(e == 0){
						this.lists.address = ''
					}else if(e == 1){
						this.lists.work = ''
					}else if(e == 2){
						this.lists.wage = ''
						this.lists.work_years = ''
					}
					request.request('/mgr/info/mhm_info_project',this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				}else if(this.type == 3){
					if(e == 0){
						this.lists.address = ''
					}else if(e == 1){
						this.lists.type = ''
					}else if(e == 2){
						this.lists.price = ''
					}else if(e == 3){
						this.lists.unit = ''
					}
					request.request('/mgr/info/mhm_info_machine',this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				}else if(this.type == 4){
					if(e == 0){
						this.lists.address = ''
					}else if(e == 1){
						this.lists.type2 = ''
					}else if(e == 2){
						this.lists.rent = ''
					}else if(e == 3){
						this.lists.mode = ''
					}
					request.request('/mgr/info/mhm_info_material',this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				}
			},
			listNav(e){
				this.datas.code = this.type
				this.lists.offset = 0
				if(this.oid == 0){
					this.keywords[this.oid] = e.detail.value[1]
					this.lists.address = e.detail.code[2]
				}else{
					
				}
				if(this.type == 1){
					if(this.oid == 1){
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.work = e.detail.value*1+1
					}else if(this.oid == 2){
						this.keywords[2] = this.navs[this.oid].range[e.detail.value]
						this.lists.work_years = ''
						this.lists.wage = e.detail.value*1+1
					}else if(this.oid == 3){
						this.keywords[2] = this.navs[this.oid].range[e.detail.value]
						this.lists.wage = ''
						this.lists.work_years = e.detail.value*1+1
					}
					request.request('/mgr/info/mhm_info_member',this.lists).then(res => {
						console.log(res);
						// this.keywords[0] = res.data.data.areaname
						this.datas.lists = res.data.data.list
					})
				}else if(this.type == 2){
					if(this.oid == 1){
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.work = e.detail.value*1+1
					}else if(this.oid == 2){
						this.keywords[2] = this.navs[this.oid].range[e.detail.value]
						this.lists.work_years = ''
						this.lists.wage = e.detail.value*1+1
					}else if(this.oid == 3){
						this.keywords[2] = this.navs[this.oid].range[e.detail.value]
						this.lists.wage = ''
						this.lists.work_years = e.detail.value*1+1
					}
					request.request('/mgr/info/mhm_info_project',this.lists).then(res => {
						console.log(res);
						// this.keywords[0] = res.data.data.areaname
						this.datas.lists = res.data.data.list
					})
				}else if(this.type == 3){
					if(this.oid == 1){
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.type = e.detail.value*1+1
					}else if(this.oid == 2){
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.price = e.detail.value*1+1
					}else if(this.oid == 3){
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.unit = e.detail.value*1+1
					}
					request.request('/mgr/info/mhm_info_machine',this.lists).then(res => {
						console.log(res);
						// this.keywords[0] = res.data.data.areaname
						this.datas.lists = res.data.data.list
					})
				}else if(this.type == 4){
					if(this.oid == 1){
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.type2 = e.detail.value*1+1
					}else if(this.oid == 2){
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.rent = e.detail.value*1+1
					}else if(this.oid == 3){
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.mode = e.detail.value*1+1
					}
					request.request('/mgr/info/mhm_info_material',this.lists).then(res => {
						console.log(res);
						// this.keywords[0] = res.data.data.areaname
						this.datas.lists = res.data.data.list
					})
				}
				
			}
		},
		onReachBottom() {
			let that = this
			that.lists.offset ++
			function request_howe(url){
				request.request(url,that.lists).then(res => {
					if(res.data.data.list.length == 0){
						that.lists.offset --
						uni.showToast({
						    title: '暂无其他',
						    duration: 2000,
							icon:'none'
						});
					}else{
						res.data.data.list.forEach(a => {
							that.datas.lists.push(a)
						})
					}
				})
			}
			if(that.type == 1){
				request_howe('/mgr/info/mhm_info_member')
			}else if(that.type == 2){
				request_howe('/mgr/info/mhm_info_project')
			}else if(that.type == 3){
				request_howe('/mgr/info/mhm_info_machine')
			}else if(that.type == 4){
				request_howe('/mgr/info/mhm_info_material')
			}
			
		},
		components: {
			// screen,
			listItem,
			load
		}
	}
</script>

<style lang="less">
	.list-page{
		padding-bottom: 16rpx;
	}
	.screen-nav{
		display: flex;
		border-bottom: solid 1px #eee;
		margin-bottom: 20rpx;
		height:50px;
		&>view{
			width:25%;
			height:24px;
			line-height: 24px;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: normal;
			border-right:solid 1px #eee;
			margin-top:13px;
			display: flex;
			justify-content: center;
			&:last-child{
				border:0;
			}
			image{
				width:12px;
				height:12px;
				margin-top:6px;
			}
			text{
				font-size: 14px;
				color:#666;
				padding:0 3px;
			}
		}
		.active{
			text{
				color:#2a4e65;
			}
		}
	}
	.screen-keyword{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20rpx;
		padding:0 20rpx;
		view{
			position: relative;
			padding:5px 10px;
			margin:5px;
			background:#eee;
			color:#666;
			font-size: 12px;
			image{
				position: absolute;
				top:-7px;
				right:-7px;
				width: 14px;
				height:14px;
			}
		}
	}
</style>
