<template>
	<view class="private">
		<form @submit="formSubmit">
			<view>
				<text>我的头像：</text>
				<image :src="odatas.head" @click="jxImg"></image>
			</view>
			<view>
				<text>真实姓名：</text>
				<input type="text" name="name" :value="odatas.name" placeholder="请输入姓名" maxlength="4">
			</view>
			<view>
				<text>性别：</text>
				<radio-group @change="sexs">
					<label class="radio" style="margin-right:10px;"><radio :checked="odatas.sex==1" value="1" color="#3a6195" />男</label>
					<label class="radio"><radio :checked="odatas.sex==2" value="2" color="#ec5353" />女</label>
				</radio-group>
			</view>
			<view>
				<text>年龄：</text>
				<input type="number" name="age" :value="odatas.age" placeholder="请输入真实年龄" maxlength="2">
			</view>
			<!-- <view>
				<text>手机号（微信绑定）：</text>
				{{odatas.tel}}
			</view> -->
			<view>
				<text>实名认证：</text>
				<view v-if="is_real == 2" @click="navigator" style="background:#3a8395;color:#fff;height:30px;padding:0 10px;border-radius: 4px;font-size:12px;line-height: 30px;margin-top:10px;">去实名</view>
				<view v-else>已实名</view>
			</view>
			<button form-type="submit" :disabled='disabled'>
				保存
			</button>
		</form>
	</view>
</template>

<script>
	import request from '../../static/request.js'
	export default {
		data() {
			return {
				datas:{},
				odatas:{},
				disabled:false,
				is_real:2
			};
		},
		onLoad() {
			let that = this
			request.request('/mgr/member/mhm_get_personal',{}).then(res => {
				console.log(res.data);
				that.odatas = res.data.data
				that.datas.head = res.data.data.head
				that.datas.name = that.odatas.name
				that.datas.sex = that.odatas.sex
				that.datas.age = that.odatas.age
			})
		},
		onShow() {
			//获取是否实名认证
			request.request('/mgr/member/mmh_real',{}).then(res => {
				this.is_real = res.data
			})
		},
		methods:{
			navigator(){//跳转实名认证
				uni.navigateTo({
					url: "../my_certification/my_certification"
				});
			},
			jxImg(){//上传头像
				let that = this
				uni.chooseImage({
				    count: 1, //默认9
				    sizeType: ['original', 'compressed'], //可以指定是原图还是压缩图，默认二者都有
				    sourceType: ['album'], //从相册选择
				    success: function (res) {
						console.log(res);
						that.datas.head = that.odatas.head = res.tempFilePaths[0]
				    }
				});
			},
			sexs(e){
				this.datas.sex = e.detail.value
			},
			formSubmit(e){
				let that = this
				
				that.disabled = true
				uni.uploadFile({//将本地图片上传到服务器 获取线上地址
					url: 'https://gwj.maohemao.com/mgr/common/uploadfile',
					filePath:that.datas.head,
					name: 'file',
					formData: {
						'user': 'test'
					},
					success: (uploadFileRes) => {
						that.datas.head = JSON.parse(uploadFileRes.data).data
						that.datas.age = e.detail.value.age;
						that.datas.name = e.detail.value.name;
						console.log(that.datas);
						request.request('/mgr/member/mhm_save_personal',that.datas).then(res => {//form提交接口
							console.log(res);
							uni.showToast({
								title: res.data.msg,
								icon:'none',
								duration: 2000
							});
							that.disabled = false
						})
					},
					fail() {
						that.datas.age = e.detail.value.age;
						that.datas.name = e.detail.value.name;
						console.log(that.datas);
						request.request('/mgr/member/mhm_save_personal',that.datas).then(res => {//form提交接口
							console.log(res);
							uni.showToast({
								title: res.data.msg,
								icon:'none',
								duration: 2000
							});
							that.disabled = false
						})
					}
				});
			}
		}
	}
</script>

<style lang="less">
	page{
		background:#f5f5f5;
		height:100%;
	}
	.private{
		position: relative;
		height:100%;
		form{
			button{
				position: absolute;
				bottom:0;
				left:0;
				font-size: 16px;
				color:#fff;
				background:#2a4e65;
				width:100%;
				height:50px;
				line-height: 50px;
				border-radius: 0;
			}
		}
		view{
			display: flex;
			justify-content: space-between;
			border-bottom: solid 1px #eee;
			padding:0 30rpx;
			height:50px;
			line-height: 50px;
			font-size: 14px;
			color:#666;
			background:#fff;
			text{
				display: inline-block;
				min-width: 40%;
				font-size: 14px;
				color:#333;
			}
			image{
				width:40px;
				height:40px;
				border:solid 1px #eee;
				border-radius: 50%;
				margin-top:5px;
			}
			input{
				height:40px;
				margin-top:5px;
				font-size: 14px;
				color:#666;
				text-align: right;
			}
			view{
				padding:0;
			}
		}
		.btn-address{
			button{
				background:none;
				font-size: 14px;
				border:0;
				color:#666;
				margin:0;
				padding:0;
				line-height: 50px;
				&::after{
					content: none;
					width:0;
				}
			}
		}
	}
</style>
