<template>
	<view class="jq-page">
		<view class="jq-item" v-for="(item,index) in lists" :key="index">
			<navigator :url="'../../news_page/news_page?id='+item.id" hover-class="none">
				<view class="jq-left">
					<view>{{item.title}}</view>
					<text>{{item.date}}</text>
				</view>
				<view class="jq-right">
					<image :src="item.img"></image>
				</view>
			</navigator>
		</view>
	</view>
</template>

<script>
	import request from '../../../static/request.js';
	export default {
		data() {
			return {
				datas:{
					type:1,
					offset:0,
					length:10
				},
				lists:[
					{
						id:0,
						title:'由门窗单位和精装修工程师想到的几件事',
						date:'2019/12/09',
						src:require('../../../static/images/jq01.jpg')
					},
					{
						id:1,
						title:'由门窗单位和精装修工程师想到的几件事由门窗单位和精装修工程师想到的几件事',
						date:'2019/12/09',
						src:require('../../../static/images/jq02.jpg')
					},
					{
						id:2,
						title:'精装修工程师想到的事',
						date:'2019/12/09',
						src:require('../../../static/images/jq03.jpg')
					},
					{
						id:3,
						title:'由门窗单位和精装修工程师想到的几件事',
						date:'2019/12/09',
						src:require('../../../static/images/jq04.jpg')
					},
					{
						id:4,
						title:'由门窗单位和精装修工程师想到的几件事门窗单位和门窗单位',
						date:'2019/12/09',
						src:require('../../../static/images/jq05.jpg')
					},
					{
						id:5,
						title:'由门窗单位和精装修工程师想到的几件事由门窗单位和精装修工程师想到的几件事',
						date:'2019/12/09',
						src:require('../../../static/images/jq06.jpg')
					},
					{
						id:0,
						title:'由门窗单位和精装修工程师想到的几件事',
						date:'2019/12/09',
						src:require('../../../static/images/jq01.jpg')
					},
					{
						id:1,
						title:'由门窗单位和精装修工程师想到的几件事由门窗单位和精装修工程师想到的几件事',
						date:'2019/12/09',
						src:require('../../../static/images/jq02.jpg')
					},
					{
						id:2,
						title:'精装修工程师想到的事',
						date:'2019/12/09',
						src:require('../../../static/images/jq03.jpg')
					},
					{
						id:3,
						title:'由门窗单位和精装修工程师想到的几件事',
						date:'2019/12/09',
						src:require('../../../static/images/jq04.jpg')
					},
					{
						id:4,
						title:'由门窗单位和精装修工程师想到的几件事门窗单位和门窗单位',
						date:'2019/12/09',
						src:require('../../../static/images/jq05.jpg')
					}
				]
			};
		},
		onLoad() {
			request.request('/mgr/news/mhm_news_list',this.datas).then(res => {
				this.lists = res.data
			})
		},
		onReachBottom() {
			this.datas.offset ++
			request.request('/mgr/news/mhm_news_list',this.datas).then(res => {
				if(res.data.length > 0){
					res.data.forEach(a => {
						this.lists.push(a)
					})
				}else{
					this.datas.offset --
					uni.showToast({
						title: '暂无其他',
						duration: 2000,
						icon:'none'
					});
				}
			})
		}
	}
</script>

<style lang="less">
	.jq-item{
		padding:15px 20rpx;
		height:70px;
		border-bottom:solid 1px #ddd;
		navigator{
			display: flex;
			justify-content: space-between;
			.jq-left{
				width:482rpx;
				view{
					font-size: 15px;
					color:#444;
					height:40px;
					line-height: 20px;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
				}
				text{
					display: block;
					margin-top: 10px;
					height:20px;
					line-height: 30px;
					font-size: 13px;
					color:#888;
				}
			}
			.jq-right{
				margin-left: 20rpx;
				width:208rpx;
				image{
					width:100%;
					height:100%;
				}
			}
		}
	}
</style>
