<template>
	<view class="certification">
		<view class="placeholder"></view>
		<view class="certification-title">请输入本人身份证信息</view>
		<view class="placeholder"></view>
		<view class="certification-input">
			<view>
				<input type="text" placeholder="请输入身份证上姓名" v-model="name">
			</view>
			<view>
				<input type="idcard" placeholder="请输入身份证号码" v-model="idcard" maxlength="18">
			</view>
			<view>
				<text>{{phoneNum}}</text>
				<button open-type="getPhoneNumber" @getphonenumber="getphonenumber" v-if="phoneNum==''">一键获取</button>
			</view>
		</view>
		<view class="certification-btn" @click="btn">
			提交
		</view>
	</view>
</template>

<script>
	import request from '../../static/request.js'
	export default {
		data() {
			return {
				name: '',
				idcard: '',
				click: true,
				phoneNum:""
			};
		},
		methods: {
			btn() {
				let that = this
				if (that.click) {
					that.click = false
					request.request('/mgr/member/mhm_cardno_check', {
						name: that.name,
						idcard: that.idcard,
						phone:that.phoneNum
					}).then(res => {
						if (res.data.code == 0) {
							uni.showToast({
								title: res.data.msg,
								icon: 'none',
								mask: true,
								duration: 2000
							});
							setTimeout(function() {
								uni.navigateBack({
									delta: 1
								});
							}, 2000)
						} else{
							uni.showToast({
								title: res.data.msg,
								icon: 'none',
								mask: true,
								duration: 2000
							});
						}
						that.click = true
					})
				} else {
					uni.showToast({
						title: '请勿重复提交！',
						icon: 'none',
						mask: true,
						duration: 2000
					});
				}

			},
			//获取手机号
			getphonenumber(e) {
				if(e.detail.errMsg=="getPhoneNumber:ok"){
					const sessionKey = wx.getStorageSync('sessionKey');
					request.request("/mgr/login/mhm_save_tel",{	
						errMsg:e.detail.errMsg,
						iv:e.detail.iv,
						encryptedData:e.detail.encryptedData,
						sessionKey:sessionKey
					}).then(res=>{
						uni.showToast({
							title:res.data.msg,
							icon:"success"
						})
						this.phoneNum=res.data.data.tel
					})
				}else{
					uni.showToast({
						title:"获取失败",
						icon:"none"
					})
				}
				
			},
			// 查询是否有手机号
			searchNum(){
				request.request("/mgr/login/mhm_get_tel").then(res=>{
					
					if(res.data.data.tel=='' || res.data.data.tel==null){
						this.phoneNum=''
					}else{
						this.phoneNum=res.data.data.tel
					}
					
				})
			}
			
		},
		mounted() {
			this.searchNum()
		}
	}
</script>

<style lang="less">
	.certification {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.placeholder {
		height: 20rpx;
		width: 100%;
	}

	.certification-title {
		font-size: 15px;
		color: #333;
		border-left: solid 3px #44C8C6;
		padding: 5px 10px;
		margin: 0 20rpx;
	}

	.certification-input {
		padding: 0 40rpx;

		>view {
			width: 670rpx;
			height: 80rpx;
			border: solid 1px #ddd;
			margin-bottom: 20rpx;
			line-height: 80rpx;
			padding: 0 20rpx;
			color: #444;
			font-size: 14px;
			box-sizing: border-box;

			input {
				width: 630rpx;
				height: 80rpx;
				line-height: 80rpx;
				color: #444;
				font-size: 14px;
			}

			text {
				color: #444;
			}

			button {
				background: #3a8395;
				color: #fff;
				height: 30px;
				border-radius: 4px;
				font-size: 12px;
				line-height: 30px;
				text-align: center;
				margin: 0;
			}
		}
		>view:last-child{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.certification-btn {
		position: absolute;
		bottom: 40px;
		left: 50%;
		width: 240rpx;
		height: 80rpx;
		line-height: 80rpx;
		text-align: center;
		background: #44C8C6;
		color: #fff;
		font-size: 12px;
		margin-left: -120rpx;
	}
</style>
