<template>
	<view class="search-page">
		<!-- <search placeholder="请输入要搜索的关键词" @searchBtn="searchBtn" :oval="val"></search> -->
		<view class="city-input">
			<view class="address">
				<picker @change="obtain" mode="selector" :range="keywords">
					<view><text>{{keywords[oid-1]}}</text></view>
				</picker>
				<image src="../../static/images/address.png"></image>
			</view>
			<view class="search-input">
				<input type="text" placeholder="请输入要搜索的关键词" v-model="val" focus="true" confirm-type="search" @confirm="btn" />
			</view>
			<text @click="btn">搜索</text>
		</view>
		<view class="city-list">
			<view class="city-list-title">热门关键词</view>
			<view class="city-list-cont">
				<text v-for="(item,index) in city" :key="index" @click="jump(item)">{{item}}</text>
			</view>
		</view>
	</view>
</template>

<script>
	import search from '../../components/search.vue'
	import request from 'static/request.js'
	export default {
		data() {
			return {
				keywords:['搜工匠','搜项目','搜材料','搜设备'],
				oid:1,
				city:['地板砖','瓦工','项目','招聘木工','挖掘机'],
				val:''
			};
		},
		methods:{
			obtain(e){
				this.oid = e.detail.value*1 + 1
			},
			jump(e){
				this.val = e
			},
			btn(e){
				if(this.val != ''){
					uni.navigateTo({
					    url: '../search_page/search_page?type='+this.oid+'&keyword='+this.val
					});
				}
			}
		},
		components:{
			search
		}
	}
</script>

<style lang="less">
	.city-list{
		.city-list-title{
			height:40rpx;
			padding:0 20rpx;
			margin: 30rpx 0;
			color:#666;
			font-size: 13px;
			border-bottom: solid 1px #e4e4e4;
		}
		.city-list-cont{
			display: flex;
			flex-wrap: wrap;
			text{
				display: inline-block;
				width:25%;
				height:80rpx;
				line-height: 80rpx;
				font-size: 15px;
				color:#444;
				text-align: center;
			}
		}
	}
	.city-input{
		display: flex;
		justify-content: space-between;
		padding:20rpx;
		padding-right:0;
		width:730rpx;
		background:#eee;
		.address{
			display: flex;
			justify-content: center;
			max-width:155rpx;
			height:70rpx;
			line-height: 70rpx;
			text{
				color:#2b57a0;
				font-size: 14px;
				display: inline-block;
				max-width:112rpx;
				text-align: center;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;
			}
			image{
				width:24rpx;
				height:12rpx;
				margin-top:29rpx;
				margin-left: 10rpx;
			}
		}
		.search-input{
			display: flex;
			width:430rpx;
			height:70rpx;
			line-height: 70rpx;
			background:#fff;
			border:solid 1px #ddd;
			margin-left:20rpx;
			input{
				width:400rpx;
				height: 50rpx;
				line-height: 50rpx;
				margin:10rpx 15rpx;
				font-size: 14px;
			}
		}
		text{
			display: inline-block;
			width:120rpx;
			height:70rpx;
			line-height: 70rpx;
			text-align: center;
			font-size: 15px;
			color:#3a90e9;
		}
	}
</style>
