<template>
	<view class="questions">
		<view class="head" :style="{'height':tabHeight+'px'}">
			<view class="head-pos" :style="{'height':jnHeight+'px'}">
				<image src="../../../static/images/return2.png" mode="" @tap="complate"></image>
				<view class="header">
					{{head}}
				</view>
			</view>
		</view>
		<view class="main">
			<view class="test-header">
				<view @click="showModal" v-if="istest == 1 && formal == 1">
					<view>
						<image src="../../../static/images/jiaojuan.png"></image>
					</view>
					<text>交卷</text>
				</view>
				<view v-if="istest == 1 && formal == 2">
					<text>历史记录</text>
				</view>
				<view v-if="istest == 2">
					<text>练习模式</text>
				</view>
				<view v-if="istest == 1 && formal == 1">倒计时 <text v-if="date.minute<10">0{{date.minute}}</text><text v-else>{{date.minute}}</text>:<text
					 v-if="date.second<10">0{{date.second}}</text><text v-else>{{date.second}}</text></view>
				<view @click="showFixed" class="tibiao">题标 {{swiperIndex}}/{{count}}</view>
			</view>
			<swiper :current="(swiperIndex - 1)" @change="swiperChange" :duration="duration" class="questions-cont">
				<swiper-item v-for="(item,index) in lists" :key="index" class="swiper-item">
					<view class="test-main">
						<view class="test-title">
							<text v-if="item.code == 1">单选</text>
							<text v-else>多选</text>
							{{item.title}}
							<view class="test-title-img" v-if="item.src_title != null">
								<image :src="item.src_title" mode="widthFix"></image>
							</view>
						</view>
						<view class="test-cont">
							<view v-for="(item2,index2) in item.testList" :key="index2" @click="testItem(index,index2,item.code)" :class="{active_true:(!item.code2 && item2.code) || (item.code == 2 && item2.click_index),active:(item.code === 1 && item2.click_index && !item2.code) || (item.code === 2 && item2.click_index && !item2.code && !item.code2)}">
								<view>{{item.option[index2]}}</view>
								<text v-if="item.isimg == 1">{{item2.name}}</text>
								<image v-else :src="item2.name" mode="widthFix"></image>
							</view>
						</view>
					</view>
					<view class="test-btn" @click="btnNext(index)" v-if="item.code == 2 && item.code2">
						确认选项
					</view>
					<view class="test-describe" v-if="!item.code2">
						<view class="describe-title">
							<text>本题描述</text>
						</view>
						<view class="describe-cont">
							<text>正确答案：<text v-for="(item2,index2) in item.true_option" :key="index2">{{item.option[item2-1]}}</text></text>
							<text>您选择的是：<text v-for="(item3,index3) in item.current" :key="index3">{{item.option[item3-1]}}</text><text v-if="item.current.length < 1">未选择</text></text>
							<text>原因：{{item.alt}}</text>
						</view>
					</view>
				</swiper-item>
			</swiper>
			<view class="fixed-bottom" :class="{active:show_hide}" @click.stop="hideFixed">
				<view class="tibiao" @click.stop>
					<view class="tibiao-bar">
						<text class="tibiao-no3">{{choice[2]}}</text><!-- 未选择 -->
						<view class="tibiao-null"></view>
						<text class="tibiao-no2">{{choice[1]}}</text><!-- 选择错误 -->
						<view class="tibiao-no"></view>
						<text class="tibiao-yes2">{{choice[0]}}</text><!-- 选择正确 -->
						<view class="tibiao-yes"></view>
					</view>
					<view>
						<text v-for="(item,index) in sequence" :key="index" :class="{active_o:item.judge == 1,active_t:item.judge == 2}"
						 @click="topic(item.sort)">{{item.sort}}</text>
					</view>
					
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	import request from 'static/request.js'
	export default {
		data() {
			return {
				head: "",
				date: { //倒计时
					minute: 0,
					second: 0
				},
				show_hide: false, //题标是否隐藏 默认false 为隐藏
				istest: 1, //1为考试 2为练习
				count: 0, //总题数
				duration: 500, //swiper过渡时间
				swiperIndex: 1, //swiper 当前下标
				choice: [2, 2, 5], //[选择正确，选择错误，未选择]
				lists: [], //渲染的数据
				tid: 0, //试卷id
				sequence: [{
					judge: 3,
					sort: 1
				}],
				date_stop: true,
				formal: '',
				tabHeight: "", //tab自定义导航栏高度
				jnHeight: "" //胶囊高度
			};
		},
		onLoad(e) {

			let res = uni.getMenuButtonBoundingClientRect()
			this.tabHeight = res.top + res.height + 8
			this.jnHeight = res.height
			let that = this
			this.istest = e.id
			const value = uni.getStorageSync('number');
			if (this.istest == 1) {
				if (e.formal == 1) {
					// uni.setNavigationBarTitle({
					// 	title: '考试模拟'
					// });
					this.head = "考试模拟"
				} else if (e.formal == 2) {
					// uni.setNavigationBarTitle({
					// 	title: '历史记录'
					// });
					this.head = "历史记录"
				}
			} else if (this.istest == 2) {
				// uni.setNavigationBarTitle({
				// 	title: '练习题库'
				// });
				this.head = "练习题库"
				
			}
			if (value && this.istest == 2) {
				request.request('/mgr/question/mhm_get_question', {
					type: that.istest,
					tid: '',
					number: value,
					first: 1
				}).then(res => {
					uni.removeStorageSync('number');
					that.count = res.data.choice.count
					that.choice = res.data.choice.choice
					that.tid = res.data.tid
					that.sequence = res.data.sequence
					if (res.data.swiperIndex >= 3) {
						// that.lists = res.data.lists
						for (let i = 0; i < res.data.lists.length; i++) {
							that.lists[res.data.swiperIndex - 3 + i] = res.data.lists[i]
							that.lists.splice((res.data.swiperIndex - 3 + i), 1, res.data.lists[i]);
						}
					} else {
						that.lists = res.data.lists
					}
					that.swiperIndex = res.data.swiperIndex
				})
			} else {
				let number = ''
				let tid = ''
				if (this.istest == 1) {
					number = 1
					this.formal = e.formal
					if (this.formal == 2) {
						tid = e.tid
					}
				}
				request.request('/mgr/question/mhm_get_question', {
					type: that.istest,
					formal: that.formal,
					tid: tid,
					number: number,
					first: 1
				}).then(res => {

					that.count = res.data.choice.count
					that.choice = res.data.choice.choice
					that.tid = res.data.tid
					that.sequence = res.data.sequence
					// that.lists = res.data.lists
					if (res.data.swiperIndex >= 3) {
						for (let i = 0; i < res.data.lists.length; i++) {
							that.lists[res.data.swiperIndex - 3 + i] = res.data.lists[i]
							that.lists.splice((res.data.swiperIndex - 3 + i), 1, res.data.lists[i]);
						}
					} else {
						that.lists = res.data.lists
					}
					that.swiperIndex = res.data.swiperIndex
					that.date.minute = res.data.when[0] * 1
					that.date.second = res.data.when[1] * 1
					setInterval(function() {
						if (that.date_stop && that.date.minute == 0 && that.istest == 1 && that.formal == 1) {
							if (that.date.second == 0) {
								that.date_stop = false
								request.request('/mgr/question/mhm_testpaper_end', {
									tid: that.tid,
									date: [that.date.minute, that.date.second]
								}).then(res => {
									console.log('交卷时间已到，已自动提交试卷！');
								})
								uni.showModal({
									title: '提示',
									content: '交卷时间已到，已自动提交试卷！',
									success: function(res) {
										if (res.confirm) {
											uni.navigateBack({
												delta: 1
											});
										} else if (res.cancel) {
											uni.navigateBack({
												delta: 1
											});
										}
									}
								});
							} else if (that.date.second > 0) {
								that.date.second--
							}
						} else if (that.date_stop && that.date.minute > 0 && that.istest == 1) {
							if (that.date.second == 0) {
								that.date.minute--
								that.date.second = 59
							} else if (that.date.second > 0) {
								that.date.second--
							}
						}
					}, 1000)
				})
			}

		},
		onUnload() {

		},
		methods: {
			showModal() { // 左上角交卷
				let that = this
				that.date_stop = false
				uni.showModal({
					title: '提示',
					content: '确认要交卷吗？',
					success: function(res) {
						if (res.confirm) {
							request.request('/mgr/question/mhm_testpaper_end', {
								tid: that.tid,
								date: [that.date.minute, that.date.second]
							}).then(res => {
								console.log('确认交卷！');
								uni.navigateBack({
									delta: 1
								});
							})
						} else if (res.cancel) {
							that.date_stop = true
							console.log('取消交卷！');
						}
					}
				});

			},
			swiperChange(e) { //swiper滑动
				let that = this
				if ((this.swiperIndex - e.detail.current) < 1) {
					if (this.swiperIndex >= 3 && !((that.count - this.swiperIndex) < 3)) {
						request.request('/mgr/question/mhm_get_question', {
							type: that.istest,
							formal: that.formal,
							tid: that.tid,
							number: this.swiperIndex + 3,
							first: 2
						}).then(res => {

							that.count = res.data.choice.count
							that.choice = res.data.choice.choice
							that.tid = res.data.tid
							// that.lists[res.data.swiperIndex-1] = res.data.lists[0]
							// that.lists.push(res.data.lists[0])
							that.lists.splice(res.data.swiperIndex - 1, 1, res.data.lists[0]);
						})
					}
				}
				if ((this.swiperIndex - e.detail.current) > 1) {
					if (this.swiperIndex > 3) {
						request.request('/mgr/question/mhm_get_question', {
							type: that.istest,
							tid: that.tid,
							formal: that.formal,
							number: this.swiperIndex - 3,
							first: 2
						}).then(res => {

							that.count = res.data.choice.count
							that.choice = res.data.choice.choice
							that.tid = res.data.tid
							// that.lists[res.data.swiperIndex-1] = res.data.lists[0]
							// that.lists.unshift(res.data.lists[0])
							that.lists.splice(res.data.swiperIndex - 1, 1, res.data.lists[0]);

						})
					}
				}
				this.swiperIndex = e.detail.current + 1;
			},
			testItem(a, b, c) { // a:当前题  b:当前选项 c:单选多选
				let that = this
				if (that.lists[a].code2) { //当前题是否已选
					that.lists[a].testList[b].click_index = !that.lists[a].testList[b].click_index //切换选项选中状态
					if (c === 1) { //为1 表示单选
						that.lists[a].code2 = false //为false 则表示已选
						that.lists[a].current = [b + 1]

						if (that.lists[a].testList[b].code) {
							that.lists[a].topic = true
							that.sequence[a].judge = 1
							that.choice[0]++
							that.choice[2]--
							request.request('/mgr/question/mhm_save_testpaper_option', {
								datas: that.lists[a],
								type: this.istest,
								number: that.swiperIndex
							}).then(res => {

							})
							if (that.swiperIndex == that.count) {
								uni.showToast({
									title: '已到最后一题',
									icon: 'none',
									duration: 2000
								});
							} else {
								that.swiperIndex++
							}
						} else {
							that.lists[a].topic = false
							that.sequence[a].judge = 2
							that.choice[1]++
							that.choice[2]--
							request.request('/mgr/question/mhm_save_testpaper_option', {
								datas: that.lists[a],
								type: this.istest,
								number: that.swiperIndex
							}).then(res => {

							})
							if (that.swiperIndex == that.count) {
								uni.showToast({
									title: '已到最后一题',
									icon: 'none',
									duration: 2000
								});
							}
						}
					}
				}
			},
			btnNext(e) { //多选 确认按钮
				let that = this
				let a = []
				that.lists[e].testList.forEach((item, index) => {
					if (item.click_index == true) {
						that.lists[e].current.push(index + 1)
						if (item.code == true) {
							a.push(index)
						}
					}
				})
				if (that.lists[e].current.length > 0) {
					that.lists[e].code2 = false
					if (a.length == that.lists[e].true_option.length && a.length == that.lists[e].current.length) {
						that.lists[e].topic = true
						that.choice[0]++
						that.choice[2]--
						that.sequence[e].judge = 1
						request.request('/mgr/question/mhm_save_testpaper_option', {
							datas: that.lists[e],
							type: this.istest,
							number: that.swiperIndex
						}).then(res => {

						})
						if (that.swiperIndex == that.count) {
							uni.showToast({
								title: '已到最后一题',
								icon: 'none',
								duration: 2000
							});
						} else {
							that.swiperIndex++
						}
					} else {
						that.lists[e].topic = false
						that.choice[1]++
						that.choice[2]--
						that.sequence[e].judge = 2
						request.request('/mgr/question/mhm_save_testpaper_option', {
							datas: that.lists[e],
							type: this.istest,
							number: that.swiperIndex
						}).then(res => {

						})
						if (that.swiperIndex == that.count) {
							uni.showToast({
								title: '已到最后一题',
								icon: 'none',
								duration: 2000
							});
						}
					}
				} else {
					uni.showToast({
						title: '请选择选项',
						icon: 'none',
						duration: 1500
					});
				}
			},
			topic(e) {
				let that = this
				request.request('/mgr/question/mhm_get_question', {
					type: that.istest,
					formal: that.formal,
					tid: that.tid,
					number: e,
					first: 1
				}).then(res => {

					that.count = res.data.choice.count
					that.choice = res.data.choice.choice
					that.tid = res.data.tid
					that.sequence = res.data.sequence
					if (res.data.swiperIndex >= 3) {

						for (let i = 0; i < res.data.lists.length; i++) {
							that.lists[res.data.swiperIndex - 3 + i] = res.data.lists[i]
							that.lists.splice((res.data.swiperIndex - 3 + i), 1, res.data.lists[i]);
						}

					} else {
						that.lists = res.data.lists

					}
					that.swiperIndex = res.data.swiperIndex
				})
			},
			showFixed() {
				this.duration = 0
				this.show_hide = !this.show_hide
			},
			hideFixed() {
				this.duration = 500
				this.show_hide = !this.show_hide
			},
			nullFixed() {
				//占位 不可删
			},
			//点击返回按钮 确认是否提交试卷
			complate() {
				let that = this
				that.date_stop = false
				console.log(this.istest)
				if (that.istest == 2) {
					uni.setStorageSync('number', that.swiperIndex);
					uni.navigateBack({
						delta: 1
					});
				} else if (that.istest == 1 && that.formal == 1) {
					uni.showModal({
						title: '提示',
						content: '确认要交卷吗？',
						success: function(res) {
							if (res.confirm) {
								request.request('/mgr/question/mhm_testpaper_end', {
									tid: that.tid,
									date: [that.date.minute, that.date.second]
								}).then(res => {
									that.date_stop = false
									uni.navigateBack({
										delta: 1
									});
								})
							} else if (res.cancel) {
								that.date_stop = true
								console.log('取消交卷！');
							}
						}
					});
				} else {
					uni.navigateBack({
						delta: 1
					});
				}
			}
		}
	}
</script>

<style lang="less">
	page {
		height: 100%;
		background: #f5f5f5;
	}


	.questions {
		height: 100%;
		display: flex;
		flex-direction: column;

		.head {
			width: 100%;
			background: #2a4e65;
			position: relative;
			z-index: 10;
		}

		.head-pos {
			width: 100%;
			text-align: center;
			position: absolute;
			bottom: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			// padding: 20rpx;
			// box-sizing: border-box;
			color: #fff;
			font-size: 30rpx;

			image {
				position: absolute;
				left: 15rpx;
				height: 36rpx;
				width: 36rpx;
				margin-top: 8rpx;
				// width: auto;
			}
		}

		.main {
			width: 100%;
			height: 100%;
			flex: 1;
			overflow: scroll;
			position: relative;
			color: #ccc;
		}

		.test-header {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 690rpx;
			padding: 0 30rpx;
			display: flex;
			justify-content: space-between;
			height: 34px;
			line-height: 34px;
			border-bottom: solid 1px #ddd;
			background: #f5f5f5;

			view {
				color: #555;
				font-size: 14px;
				display: flex;

				image {
					margin-top: 10px;
					margin-right: 5px;
					width: 14px;
					height: 14px;
				}

				&:nth-child(1) {
					font-size: 12px;

					text {
						color: #666;
					}
				}

				&.tibiao {
					font-size: 12px;

					text {
						color: #666;
					}
				}
			}
		}

		.questions-cont {
			height: 100%;
			overflow: scroll;
			display: flex;
			flex-wrap: nowrap;
			transition: all .5s;

			.swiper-item {
				width: 100vw;
				min-width: 100vw;
				max-width: 100vw;
				height: 100%;
				overflow: auto;

				.test-main {
					padding: 0 20rpx;
					margin: 49px 30rpx;
					margin-bottom: 20px;
					background: #fff;

					.test-title {
						font-size: 16px;
						color: #333;
						padding: 20rpx 0;
						margin-bottom: 20rpx;
						border-bottom: solid 1px #ddd;

						text {
							font-size: 10px;
							color: #fff;
							background: #aaa;
							padding: 2px 5px;
							margin-right: 5px;
							border-radius: 3px;
						}

						.test-title-img {
							margin: 0 auto;
							margin-top: 20rpx;
							text-align: center;

							image {
								max-width: 560rpx;
							}
						}
					}

					.test-cont {
						display: flex;
						flex-direction: column;
						padding-bottom: 20rpx;

						&>view {
							min-height: 40px;
							line-height: 40px;
							display: flex;

							view {
								width: 30px;
								height: 30px;
								line-height: 30px;
								margin-top: 4px;
								margin-right: 7px;
								font-size: 14px;
								border: solid 1px #ddd;
								border-radius: 50%;
								box-shadow: 2px 2px 5px #e5e5e5;
								text-align: center;
								color: #666;
							}

							image {
								max-width: 560rpx;
								margin-bottom: 20rpx;
							}

							text {
								font-size: 13px;
								color: #555;
							}

							&.active_true {
								view {
									background: #1a7bb9;
									border: solid 1px #1a7bb9;
									color: #fff;
									font-size: 15px;
								}

								text {
									color: #1a7bb9;
								}
							}

							&.active {
								view {
									background: #FF6667;
									border: solid 1px #FF6667;
									color: #fff;
									font-size: 15px;
								}

								text {
									color: #FF6667;
								}
							}
						}
					}
				}

				.test-btn {
					background: #1FB19E;
					font-size: 14px;
					border-radius: 6px;
					text-align: center;
					line-height: 40px;
					color: #fff;
					height: 40px;
					width: 150px;
					margin: 20px auto;
				}

				.test-describe {
					padding: 0 20rpx;
					margin-bottom: 20px;
					border-top: solid 1px #ccc;

					.describe-title {
						height: 48px;
						line-height: 48px;
						display: flex;

						text {
							color: #666;
							font-size: 12px;
						}

						image {
							width: 14px;
							height: 14px;
							margin-top: 17px;
							margin-left: 3px;
						}
					}

					.describe-cont {
						background: #f5f5f5;
						padding: 12rpx;
						display: flex;
						flex-direction: column;

						&>text {
							color: #666;
							font-size: 14px;
							line-height: 24px;

							&:nth-child(3) {
								font-size: 12px;
								line-height: 20px;
							}
						}
					}
				}
			}
		}

		.fixed-bottom {
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 999;
			background: rgba(0, 0, 0, .4);
			pointer-events: none;
			opacity: 0;
			transition: all .3s;

			.tibiao {
				position: absolute;
				bottom: 0;
				left: 0;
				background: #fff;
				width: 710rpx;
				overflow: auto;
				height: 50%;
				padding: 30rpx 20rpx;

				.tibiao-bar {
					display: flex;
					flex-direction: row-reverse;
					padding-bottom: 30rpx;
					border-bottom: solid 1px #ddd;
					height: 16px;
					line-height: 16px;

					view {
						width: 10px;
						height: 10px;
						border-radius: 50%;
						margin-left: 30rpx;
						margin-top: 3px;

						&.tibiao-yes {
							background: #1a7bb9;
						}

						&.tibiao-no {
							background: #FF6667;
						}

						&.tibiao-null {
							background: #999;
						}
					}

					text {
						margin-left: 3px;
						display: inline-block;
						font-size: 13px;

						&.tibiao-yes2 {
							color: #1a7bb9;
						}

						&.tibiao-no2 {
							color: #FF6667;
						}

						&.tibiao-no3 {
							color: #666;
						}
					}
				}

				&>view {
					&:nth-child(2) {
						text {
							margin-left: 22rpx;
							margin-top: 10rpx;
							display: inline-block;
							width: 100rpx;
							height: 100rpx;
							line-height: 100rpx;
							text-align: center;
							border-radius: 50%;
							font-size: 14px;
							color: #666;
							background: #e4e4e4;

							&:nth-child(6n+1) {
								margin-left: 0;
							}

							&.active_o {
								background: #beddf1;
								color: #1a7bb9;
							}

							&.active_t {
								background: #fecece;
								color: #e3494a;
							}
						}
					}
				}
			}

			&.active {
				opacity: 1;
				pointer-events: auto;
				transition: all .3s;
			}
		}
	}
</style>