<template>
	<view class="city-page">
		<search placeholder="请输入要设置的城市名称" @searchBtn="searchBtn"></search>
		<view class="city-list">
			<view class="city-list-title">热门城市</view>
			<view class="city-list-cont">
				<text v-for="(item,index) in city" :key="index" @click="jump(item)">{{item}}</text>
			</view>
		</view>
	</view>
</template>

<script>
	import search from '../../components/search.vue'
	export default {
		data() {
			return {
				city:['北京市','上海市','广州市','深圳市','天津市','杭州市','武汉市','石家庄市','呼和浩特市','邢台市','邯郸市']
			};
		},
		methods:{
			searchBtn(e){
				console.log(e)
			},
			jump(e){
				uni.$emit('city',{cityData:e})
				uni.navigateBack({
				    delta: 1
				});
			}
		},
		components:{
			search
		}
	}
</script>

<style lang="less">
	page{
		width:100%;
		height:100%;
		background:#f5f5f5;
		.city-list{
			.city-list-title{
				height:40rpx;
				padding:0 20rpx;
				margin: 30rpx 0;
				color:#666;
				font-size: 13px;
				border-bottom: solid 1px #e4e4e4;
			}
			.city-list-cont{
				display: flex;
				flex-wrap: wrap;
				text{
					display: inline-block;
					width:25%;
					height:80rpx;
					line-height: 80rpx;
					font-size: 15px;
					color:#444;
					text-align: center;
					
				}
			}
		}
	}
</style>
