<template>
	<view class="index-page">
		<image src="../../static/images/bg_index01.jpg"></image>
		<view class="index-list-bg">
			<view class="index-list">
				<view v-for="(item,index) in datas" :key="index" @click="hover(index)" :class="{active:index==id+4}">
					<view v-if="index==id+4" class="index-list-img">
						<image v-if="id == 1" src="https://gwj.maohemao.com/upload/bjt/long.png"></image>
						<image v-if="id == 2" src="https://gwj.maohemao.com/upload/bjt/fenghuang.png"></image>
						<image v-if="id == 3" src="https://gwj.maohemao.com/upload/bjt/qiling.png"></image>
						<image v-if="id == 4" src="https://gwj.maohemao.com/upload/bjt/xiang.png"></image>
						<image v-if="id == 5" src="https://gwj.maohemao.com/upload/bjt/shizi.png"></image>
					</view>
					<image v-if="index==id+4" :src="text[id-1]"></image>
					<image class="list-img" :src="item"></image>
					<!-- <text>{{item}}</text> -->
					<view class="index-new-fu" :class="{new_active:index==id+4}">
						<view class="index-new" v-if="index==id+4">
							<view v-if="id == 1" v-for="(item2,key) in list.lists" :key="key">
								<view>
									<text>{{item2.work}}</text>
									<text>{{item2.wage}}￥</text>
								</view>
								<view>
									<text>地址：{{item2.name}}</text>
								</view>
							</view>
							<view v-if="id == 2" v-for="(item2,key) in list.lists" :key="key">
								<view>
									<text>{{item2.project}}</text>
									<text>{{item2.wage}}￥</text>
								</view>
								<view>
									<text>地址：{{item2.city}}</text>
								</view>
							</view>
							<view v-if="id == 3" v-for="(item2,key) in list.lists" :key="key">
								<view>
									<text>{{item2.material}}</text>
									<text>{{item2.price}}￥</text>
								</view>
								<view>
									<text>地址：{{item2.city}}</text>
								</view>
							</view>
							<view v-if="id == 5" v-for="(item2,key) in list.lists" :key="key">
								<view>
									<text>{{item2.name}}</text>
									<text>{{item2.price}}￥</text>
								</view>
								<view>
									<text>地址：{{item2.city}}</text>
								</view>
							</view>
							<view v-if="id == 4" v-for="(item2,key) in list" :key="key">
								<view class="xue">
									<text>{{item2.title}}</text>
								</view>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="index-btn2" v-if="id == 12">
			<button>
			</button>
		</view>
		<view class="index-btn" v-if="id!=12">
			<button @click="pageUrl">
				
			</button>
			<!-- <button v-else open-type="getPhoneNumber" @getphonenumber="pageUrl"></button> -->
		</view>
		<!-- <view class="index-text">
			<text>{{content}}</text>
		</view> -->
	</view>
</template>
<script>
	import request from 'static/request.js'
	export default {
		data() {
			return {
				datas:['','','','','','../../static/images/ren.png','../../static/images/xiang.png','../../static/images/cai.png','../../static/images/xue.png','../../static/images/ji.png'],
				id:12,
				lists:[],
				list:{},
				phone:'',
				bgs:['https://gwj.maohemao.com/upload/bjt/long.png','https://gwj.maohemao.com/upload/bjt/fenghuang.png','https://gwj.maohemao.com/upload/bjt/xiang.png','https://gwj.maohemao.com/upload/bjt/qiling.png','https://gwj.maohemao.com/upload/bjt/shizi.png','https://gwj.maohemao.com/upload/bjt/longfeng.png'],
				bg:'',
				i:1,
				cont:[],
				text:['../../static/images/text.png','../../static/images/text01.png','../../static/images/text02.png','../../static/images/text03.png','../../static/images/text04.png'],
				content:'',//语录
			}
		},
		onLoad() { 
			uni.hideTabBar()
			this.bg = this.bgs[0]
			this.id = 12
			request.login();
			//列表数据接口
			request.request('/mgr/info/mhm_index',{}).then( res =>{
				this.lists = res.data
			})
			
			//语录接口
			request.request('/mgr/info/mhm_index_concept',{}).then( res =>{
				this.content = res.data
			})
			
			//手机号接口
			request.request('/mgr/login/mhm_get_tel',{}).then( res =>{
				this.phone = res.data.data.tel
			})
		},
		methods: {
			hover(e){
				let that = this
				e = e - 4
				if(e == that.id){
					that.id = 12
				}else{
					that.id = e
				}
				switch(e*1){
					case 1:
						that.list = {
							code:e,
							lists:that.lists.member
						}
						break;
					case 2:
						that.list = {
							code:e,
							lists:that.lists.project
						}
						break;
					case 3:
						that.list = {
							code:e,
							lists:that.lists.material
						}
						break;
					case 4:
						this.list = that.lists.news
						break;
					case 5:
						that.list = {
							lists:that.lists.mechanical
						}
						console.log(that.list)
				}
			},
			pageUrl(e){
				if(this.id == 4){
					uni.navigateTo({
					    url: '../study/study'
					});
				}else{
					uni.reLaunch({
					   url: '/pages/index/index?id=' + this.id
					});
				}
				// let that = this
				// if(that.phone != ''){
				// }else if(that.phone == '' && e.detail.encryptedData){
				// 	request.request('/mgr/login/mhm_save_tel',e.detail).then( res =>{
				// 		if(that.id == 4){
				// 			uni.navigateTo({
				// 			    url: '../study/study'
				// 			});
				// 		}else{
				// 			uni.reLaunch({
				// 			   url: '/pages/index/index?id=' + that.id
				// 			});
				// 		}
				// 	})
				// }
			}
		}
	}
</script>
					


<style lang="less">
	.index-page{
		padding-top: 1px;
		&>image{
			position: fixed;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
		.index-list-bg{
			position: relative;
			z-index: 10;
			width:500rpx;
			height:500rpx;
			background: url('https://gwj.maohemao.com/upload/bjt/longfeng.png') no-repeat;
			background-size:300rpx 300rpx;
			background-position: center center;
			margin:0 auto;
			margin-top:260rpx;
			border-radius: 50%;
			animation:myfirst2 20s infinite linear;
			.index-list{
				z-index: 10;
				position: relative;
				width:500rpx;
				height:500rpx;
				border-radius: 50%;
				animation:myfirst 10s infinite linear;
				&>view{
					transition: all .5s;
					position: absolute;
					.list-img{
						width:50rpx;
						height:50rpx;
						margin-top:55rpx;
					}
					&:nth-child(-n+5){
						width:160rpx;
						height:160rpx;
						border-radius: 50%;
					}
					&:nth-child(n+6){
						width:160rpx;
						height:160rpx;
						font-size: 20px;
						animation:myfirst2 20s infinite linear;
						color:#8E6C46;
						text-align: center;
						line-height: 160rpx;
						border-radius: 50%;
					}
					&:nth-child(1),&:nth-child(6){
						top:-38rpx;
						left:170rpx;
						background: url('https://gwj.maohemao.com/upload/bjt/long.png') no-repeat;
						background-size:160rpx 160rpx;
						background-position: center center;
					}
					&:nth-child(2),&:nth-child(7){
						top:110rpx;
						left:-32rpx;
						background: url('https://gwj.maohemao.com/upload/bjt/fenghuang.png') no-repeat;
						background-size:160rpx 160rpx;
						background-position: center center;
					}
					&:nth-child(3),&:nth-child(8){
						top:110rpx;
						left:380rpx;
						background: url('https://gwj.maohemao.com/upload/bjt/qiling.png') no-repeat;
						background-size:160rpx 160rpx;
						background-position: center center;
					}
					&:nth-child(4),&:nth-child(9){
						top:330rpx;
						left:30rpx;
						background: url('https://gwj.maohemao.com/upload/bjt/xiang.png') no-repeat;
						background-size:160rpx 160rpx;
						background-position: center center;
					}
					&:nth-child(5),&:nth-child(10){
						top:350rpx;
						left:290rpx;
						background: url('https://gwj.maohemao.com/upload/bjt/shizi.png') no-repeat;
						background-size:160rpx 160rpx;
						background-position: center center;
					}
					&:nth-child(-n+5){
						background:none;
					}
				}
				&>view.active{
					width:600rpx;
					height:600rpx;
					border-radius: 50%;
					left:-50rpx;
					top:-50rpx;
					z-index: 20;
					background:url('https://gwj.maohemao.com/upload/bjt/bjt.png') no-repeat;
					background-size: 100% 100%;
					transition: all .5s;
					position: relative;
					&>image{
						position: absolute;
						width:700rpx;
						height:700rpx;
						left:-50rpx;
						top:-50rpx;
						z-index: 1;
						animation:myfirst2 25s infinite linear;
						transition: all .5s;
						&.list-img{
							position: relative;
							width:90rpx;
							height:90rpx;
							left:0;
							top:0;
							z-index: 1;
							animation:none;
							transition: all .5s;
							margin-top:30rpx;
						}
					}
					&>text{
						z-index: 10;
						position: relative;
						font-size: 30px;
						font-family: "楷体";
					}
					.index-list-img{
						width:600rpx;
						height:600rpx;
						position: absolute;
						left:0;
						top:0;
						opacity: .3;
						z-index: 1; 
						image{
							width:100%;
							height:100%;
						}
					}
					.index-new-fu{
						transition: all .5s;
						margin:0 auto;
						margin-top: -30rpx;
						position: relative;
						z-index: 10;
						.index-new{
							z-index: 10;
							position: relative;
							line-height: 24px;
							font-size: 14px;
							text-align: left;
							height:100%;
							width:360rpx;
							overflow-y: auto;
							// border:solid 1px #eee;
							&>view{
								padding:10rpx 20rpx;
								background:rgba(255,255,255,.4);
								margin-top: 10rpx;
								&:nth-child(1){
									margin-top: 0;
								}
								view{
									display: flex;
									justify-content: space-between;
									&:nth-child(1){
										text{
											color:#845a33;
											font-size: 14px;
											&:nth-child(2){
												font-size: 12px;
												color:#999;
											}
										}
									}
									&.xue{
										text{
											color:#845a33;
											font-size: 12px;
										}
									}
									text{
										display: inline-block;
										font-size: 12px;
										color:#999;
										overflow: hidden;
										text-overflow:ellipsis;
										white-space: nowrap;
									}
								}
							}
						}
					}
					.new_active{
						height:320rpx;
						width:360rpx;
						transition: all .5s;
					}
				}
			}
		}
		@keyframes myfirst
		{
			0%   {transform:rotate(0deg);}
			25%  {transform:rotate(90deg);}
			50%  {transform:rotate(180deg);}
			75%  {transform:rotate(270deg);}
			100% {transform:rotate(360deg);}
		}
		@keyframes myfirst2
		{
			0%   {transform:rotate(0deg);}
			25%  {transform:rotate(-90deg);}
			50%  {transform:rotate(-180deg);}
			75%  {transform:rotate(-270deg);}
			100% {transform:rotate(-360deg);}
		}
		.index-btn,.index-btn2{
			position: absolute;
			bottom:85px;
			left:50%;
			margin-left:-17px;
			z-index: 10;
			button{
				width:34px;
				height:118px;
				background:url(../../static/images/gwj.png) no-repeat;
				background-size:100% 100%;
			}
			button::after{
				content: none;
			}
		}
		.index-btn2{
			button{
				background:url(../../static/images/gwj2.png) no-repeat;
				background-size:100% 100%;
			}
		}
		.index-text{
			position: absolute;
			bottom:15px;
			left:0;
			width:670rpx;
			padding:0 40rpx;
			text{
				font-size: 13px;
				color:#845a33;
			}
		}
	}
</style>