<template>
	<view style="padding-top:1px;">
		<view class="about-img">
			<image :src="src" mode="widthFix"></image>
		</view>
		<view class="about-content">
			<rich-text :nodes="content"></rich-text>
		</view>
	</view>
</template>

<script>
	import request from 'static/request.js'
	export default {
		data() {
			return {
				src:'',
				content:''
			};
		},
		onLoad() {
			request.request('/mgr/news/about',{}).then(res => {
				console.log(res);
				this.src = res.data.img
				this.content = res.data.content
			})
		}
	}
</script>

<style lang="less">
	.about-img{
		width:250rpx;
		height:250rpx;
		margin:20px auto;
		image{
			width: 100%;
		}
	}
	.about-content{
		padding:20px 40rpx;
		font-size: 16px;
		color:#454545;
		line-height: 22px;
	}
</style>
