<template>
	<view class="list-page">
		<view>
			<view class="screen-nav">
				<view v-for="(item,index) in navs" :key="index" :class="{active:index==oid}">
					<picker @change="listNav" :mode="item.mode" :range="item.range" @click="hover(index)">
						<text>{{item.name}}</text>
						<image :src="index==oid?item.iconHover:item.icon"></image>
					</picker>
				</view>
			</view>
			<view class="screen-keyword" v-if="keywords.length >= 1">
				<view v-for="(item,index) in keywords" :key="index" v-if="item != ''">
					<image src="../../static/images/del2.png" @click="delImg(index)"></image>
					{{item}}
				</view>
			</view>
		</view>
		<view style="display: flex;justify-content: center;">
			<listItem :lists="datas"></listItem>
		</view>
		
		<!-- <load :animationData="animationData" :off="off"></load> -->
	</view>
</template>

<script>
	import listItem from "../../components/list.vue";
	import load from "../../components/load.vue";
	import request from '../../static/request.js';
	export default {
		data() {
			return {
				navs:[
					{
						name:'城市',
						icon:require('../../static/images/address-list.png'),
						iconHover:require('../../static/images/address-list-hover.png'),
						mode:'region',
						range:[]
					},
					{
						name:'工种',
						icon:require('../../static/images/xl-list.png'),
						iconHover:require('../../static/images/xl-list-hover.png'),
						mode:'selector',
						range:[]
					},
					{
						name:'日薪',
						icon:require('../../static/images/sj-list.png'),
						iconHover:require('../../static/images/sj-list-hover.png'),
						mode:'selector',
						range:['日薪从高到底','日薪从低到高']
					},
					{
						name:'工龄',
						icon:require('../../static/images/sj-list.png'),
						iconHover:require('../../static/images/sj-list-hover.png'),
						mode:'selector',
						range:['工龄从高到底','工龄从低到高']
					}
				],
				oid:0,
				keywords:['','','',''],//所选的筛选条件
				lists:{//传给后台的数据
					address:'',
					offset:0,//当前页
					length:10,//每页数据
					work:'',//工种
					wage:'',//薪资高低排序 1由高到低 2由低到高
					work_years:'',//工龄排序
					type:'',//材料类别
					price:'',//材料单价排序
					unit:'',//材料单位
					type2:'',//机械类别
					rent:'',//租金排序
					mode:'',//租赁方式
				},
				datas:{//渲染到页面的数据
					code:0,
					lists:{}
				},
				animationData:{},//loading
			}
		},
		onLoad(e) {
			
		},
		onShow() {
			this.craftList()
		},
		methods: {
			//获取工匠列表
			craftList(){
				request.request('/mgr/common/re_work_type',{}).then(res => {
					this.navs[1].range = []
					res.data.forEach(e => {
						this.navs[1].range.push(e.name)
					})
				})
				request.request('/mgr/info/mhm_info_member',this.lists).then(res => {
					this.datas.lists = res.data.data.list
				})
			},
			//列表筛选
			hover(index){
				this.oid = index
			},
			listNav(e){
				if(this.oid == 0){
					this.keywords[this.oid] = e.detail.value[2]
					this.lists.address = e.detail.code[2]
				}else if(this.oid == 1){
					this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
					this.lists.work = e.detail.value*1+1
				}else if(this.oid == 2){
					this.keywords[2] = this.navs[this.oid].range[e.detail.value]
					this.lists.work_years = ''
					this.lists.wage = e.detail.value*1+1
				}else if(this.oid == 3){
					this.keywords[3] = this.navs[this.oid].range[e.detail.value]
					this.lists.wage = ''
					this.lists.work_years = e.detail.value*1+1
				}
				request.request('/mgr/info/mhm_info_member',this.lists).then(res => {
					this.datas.lists = res.data.data.list
					this.off=false
					
				})
			},
			//删除筛选条件
			delImg(index){
				this.lists.offset = 0
				this.keywords[index] = ''
				if(index == 0){
					this.lists.address = ''
				}else if(index == 1){
					this.lists.work = ''
				}else if(index == 2){
					this.lists.wage = ''
				}else if(index==3){
					this.lists.work_years = ''
				}
				request.request('/mgr/info/mhm_info_member',this.lists).then(res => {
					this.datas.lists = res.data.data.list
				})
			},
			//筛选结果
			
		},
		//上划触底加载
		onReachBottom() {
			let that = this
			that.lists.offset ++;
				request.request("/mgr/info/mhm_info_member",that.lists).then(res => {
					if(res.data.data.list.length == 0){
						that.lists.offset --
						uni.showToast({
						    title: '暂无其他',
						    duration: 2000,
							icon:'none'
						});
					}else{
						res.data.data.list.forEach(a => {
							that.datas.lists.push(a)
						})
					}
				})
			
		},
		components: {
			listItem,
			load
		}
	}
</script>

<style lang="less">
	.list-page{
		padding-bottom: 16rpx;
	}
	.screen-nav{
		display: flex;
		border-bottom: solid 1px #eee;
		margin-bottom: 20rpx;
		height:50px;
		&>view{
			width:25%;
			height:24px;
			line-height: 24px;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: normal;
			border-right:solid 1px #eee;
			margin-top:13px;
			display: flex;
			justify-content: center;
			&:last-child{
				border:0;
			}
			image{
				width:12px;
				height:12px;
				margin-top:6px;
			}
			text{
				font-size: 14px;
				color:#666;
				padding:0 3px;
			}
		}
		.active{
			text{
				color:#2a4e65;
			}
		}
		
	}
	.screen-keyword{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20rpx;
		padding:0 20rpx;
		view{
			position: relative;
			padding:5px 10px;
			margin:5px;
			background:#eee;
			color:#666;
			font-size: 12px;
			image{
				position: absolute;
				top:-7px;
				right:-7px;
				width: 14px;
				height:14px;
			}
		}
	}
</style>
