<template>
	<view class="search-page">
		<listItem :lists="datas"></listItem>
	</view>
</template>

<script>
	import listItem from "../../components/list.vue";
	import request from 'static/request.js'
	export default {
		data() {
			return {
				datas:{
					code:0,
					lists:{}
				},
				search:{
					type:1,
					keyword:'',
					offset:0,
					length:10
				}
			};
		},
		onLoad(e) {
			this.search.type = e.type
			this.search.keyword = e.keyword
			this.datas.code = e.type
			request.request('/mgr/info/mhm_search',this.search).then(res => {
				console.log(res);
				if(res.data.length < 1){
					uni.showToast({
						title:'暂无数据',
						icon:'none',
						duration: 500000
					})
				}else{
					this.datas.lists = res.data
				}
			})
		},
		onReachBottom() {
			this.search.offset ++
			request.request('/mgr/info/mhm_search',this.search).then(res => {
				console.log(res);
				if(res.data.length < 1){
					this.search.offset --
					uni.showToast({
						title: '暂无数据',
						duration: 2000,
						icon:'none'
					});
				}else{
					res.data.forEach(a => {
						this.datas.lists.push(a)
					})
				}
			})
		},
		components: {
			listItem
		}
	}
</script>

<style lang="less">
	.search-page{
		padding:20rpx 0;
	}
</style>
