<template>
	<view class="list-page">
		<view class="local-classify">
			<view class="local">
				<picker @change="obtain" mode='region'>
					<text>{{address}}</text>
					<image src="../../static/images/address.png"></image>
				</picker>
			</view>
			<view class="classify">
				<picker mode="selector" :range="classifyRange" @change="classifyChange">
					<text>{{classify}}</text>
					<image src="../../static/images/address.png"></image>
				</picker>
			</view>
		</view>
		<view v-if="navs.length!=0">
			<view class="screen-nav">
				<view v-for="(item,index) in navs" :key="index" :class="{active:index==oid}">
					<picker @change="listNav" :mode="item.mode" :range="item.range" @click="hover(index)">
						<text>{{item.name}}</text>
						<image :src="index==oid?item.iconHover:item.icon"></image>
					</picker>
				</view>
			</view>
			<view class="screen-keyword" v-if="keywords.length >= 1">
				<view v-for="(item,index) in keywords" :key="index" v-if="item != ''">
					<image src="../../static/images/del2.png" @click="delImg(index)"></image>
					{{item}}
				</view>
			</view>
		</view>
		<view style="padding-left:40rpx; box-sizing: border-box;">
			<block v-if="classifyId==''">
				<listItem v-for="(item,index) in allDatas" :key="index" :lists="item"></listItem>
			</block>
			<block v-else>
				<listItem :lists="datas"></listItem>
			</block>
			
		</view>

		<!-- <load :animationData="animationData" :off="off"></load> -->
	</view>
</template>

<script>
	
	import listItem from "../../components/list.vue";
	import load from "../../components/load.vue";
	import request from '../../static/request.js';
	export default {
		data() {
			return {
				address: "位置",
				classify: "分类",
				classifyId: "", //分类id
				oid: "", //子分类id
				classifyRange: ["项目", "材料", "机械"],
				navs: [], //picker 值
				datas: { //渲染到页面的数据
					code: 0,
					lists: {}
				},
				allDatas: [],
				keywords: ['', '', ''], //所选的筛选条件
				lists: { //传给后台的数据
					address: '',
					offset: 0, //当前页
					length: 10, //每页数据
					work: '', //工种
					wage: '', //薪资高低排序 1由高到低 2由低到高
					work_years: '', //工龄排序
					type: '', //材料类别
					price: '', //材料单价排序
					unit: '', //材料单位
					type2: '', //机械类别
					rent: '', //租金排序
					mode: '', //租赁方式
				}
			}
		},
		methods: {
			//一进入页面请求列表
			getList(){
				const local=JSON.parse(uni.getStorageSync("local"))
				this.lists.address=local.adcode
				this.allDatas=[]
				request.request("/mgr/info/info_list", this.lists).then(res=>{
					this.address=res.data.data.areaname
					res.data.data.list.forEach(item => {
						this.allDatas.push({
							code: item.type - 1,
							"lists": [item]
						})
					})
				})
			},
			//位置改变
			obtain(e) {
				this.address = e.detail.value[2]
				this.lists.address = e.detail.code[2]
				let local = JSON.stringify({
					"adcode": e.detail.code[2],
					"address": e.detail.value[2]
				})
				uni.setStorageSync("local", local)
				if(this.classifyId==""){
					this.getList()
				}else{
					if(this.classifyId == 1){  //项目
						request.request('/mgr/info/mhm_info_project', this.lists).then(res => {
							this.datas.lists = res.data.data.list
						})
					}else if(this.classifyId == 2){  //材料
						request.request('/mgr/info/mhm_info_machine', this.lists).then(res => {
							this.datas.lists = res.data.data.list
						})
					}else if(this.classifyId == 3){ //机械
						request.request('/mgr/info/mhm_info_material', this.lists).then(res => {
							this.datas.lists = res.data.data.list
						})
					}
				}
			},
			//分类改变 （返回全部信息）
			classifyChange(e) {
				this.classifyId = Number(e.detail.value) + 1
				this.classify = this.classifyRange[e.detail.value]
			},
			//选择子分类
			hover(index) {
				this.oid = index
			},
			//子分类改变
			listNav(e) {
				this.datas.code = this.classifyId;
				this.lists.offset = 0;
				if (this.classifyId == 1) {
					if (this.oid == 0) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.work = e.detail.value * 1 + 1
					} else if (this.oid == 1) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.wage = e.detail.value * 1 + 1
					} else if (this.oid == 2) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.work_years = e.detail.value * 1 + 1
					}
					request.request('/mgr/info/mhm_info_project', this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				} else if (this.classifyId == 2) {
					if (this.oid == 0) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.type = e.detail.value * 1 + 1
					} else if (this.oid == 1) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.price = e.detail.value * 1 + 1
					} else if (this.oid == 2) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.unit = e.detail.value * 1 + 1
					}
					request.request('/mgr/info/mhm_info_machine', this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				} else if (this.classifyId == 3) {
					if (this.oid == 0) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.type2 = e.detail.value * 1 + 1
					} else if (this.oid == 1) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.rent = e.detail.value * 1 + 1
					} else if (this.oid == 2) {
						this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
						this.lists.mode = e.detail.value * 1 + 1
					}
					request.request('/mgr/info/mhm_info_material', this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				}
			},
			//删除子分类
			delImg(index) {
				this.lists.offset = 0
				this.keywords[index] = ''
				if (this.classifyId == 1) {
					if (index == 0) {
						this.lists.work = ''
					} else if (index == 1) {
						this.lists.wage = ''
					} else if (index == 2) {
						this.lists.work_years = ''
					}
					request.request('/mgr/info/mhm_info_project', this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				} else if (this.classifyId == 2) {
					if (index == 0) {
						this.lists.type = ''
					} else if (index == 1) {
						this.lists.price = ''
					} else if (index == 2) {
						this.lists.unit = ''
					}
					request.request('/mgr/info/mhm_info_machine', this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				} else if (this.classifyId == 3) {
					if (index == 0) {
						this.lists.type2 = ''
					} else if (index == 1) {
						this.lists.rent = ''
					} else if (index == 2) {
						this.lists.mode = ''
					}
					request.request('/mgr/info/mhm_info_material', this.lists).then(res => {
						this.datas.lists = res.data.data.list
					})
				}
			},
			//上拉加载更多
			onReachBottom() {
				let that = this
				that.lists.offset++
				function request_howe(url) {
					request.request(url, that.lists).then(res => {
						if (res.data.data.list.length == 0) {
							that.lists.offset--
							uni.showToast({
								title: '暂无其他',
								duration: 2000,
								icon: 'none'
							});
						} else {
							if(that.classifyId==""){
								res.data.data.list.forEach(item => {
									that.allDatas.push({
										code: item.type - 1,
										"lists": [item]
									})
								})
							}else{
								res.data.data.list.forEach(a => {
									that.datas.lists.push(a)
								})
							}
							
						}
					})
				}
				if (this.classifyId == 1) {
					request_howe('/mgr/info/mhm_info_project')
				} else if (this.classifyId == 2) {
					request_howe('/mgr/info/mhm_info_machine')
				} else if (this.classifyId == 3) {
					request_howe('/mgr/info/mhm_info_material')
				}else{
					request_howe("/mgr/info/info_list")
				}
			},
		},
		watch: {
			//分类改变，显示子分类
			classifyId(newVal) {
				this.datas.code = newVal
				this.keywords = ["", "", ""]
				if (newVal == 1) {
					uni.setNavigationBarTitle({
						title: '项目列表'
					});
					this.navs = [{
							name: '工种',
							icon: require('../../static/images/xl-list.png'),
							iconHover: require('../../static/images/xl-list-hover.png'),
							mode: 'selector',
							range: []
						},
						{
							name: '日薪',
							icon: require('../../static/images/sj-list.png'),
							iconHover: require('../../static/images/sj-list-hover.png'),
							mode: 'selector',
							range: ['日薪从高到底', '日薪从低到高']
						},
						{
							name: '工龄',
							icon: require('../../static/images/sj-list.png'),
							iconHover: require('../../static/images/sj-list-hover.png'),
							mode: 'selector',
							range: ['工龄从高到底', '工龄从低到高']
						}
					];
					request.request('/mgr/common/re_work_type', {}).then(res => {
						this.navs[0].range = []
						res.data.forEach(e => {
							this.navs[0].range.push(e.name)
						})
					})
					request.request('/mgr/info/mhm_info_project', this.lists).then(res => {
						this.datas.code = 1
						this.datas.lists = res.data.data.list
					})
					
				} else if (newVal == 2) {
					uni.setNavigationBarTitle({
						title: '材料列表'
					});
					this.navs = [{
							name: '类别',
							icon: require('../../static/images/xl-list.png'),
							iconHover: require('../../static/images/xl-list-hover.png'),
							mode: 'selector',
							range: ['金属', '木质', '陶瓷', '玻璃', '塑料', '纸质', '石质', '布料', '其他']
						},
						{
							name: '单价',
							icon: require('../../static/images/sj-list.png'),
							iconHover: require('../../static/images/sj-list-hover.png'),
							mode: 'selector',
							range: ['单价从高到底', '单价从低到高']
						},
						{
							name: '单位',
							icon: require('../../static/images/xl-list.png'),
							iconHover: require('../../static/images/xl-list-hover.png'),
							mode: 'selector',
							range: []
						}
					]

					request.request('/mgr/common/get_material', {}).then(res => {
						this.navs[2].range = []
						res.data.forEach(e => {
							this.navs[2].range.push(e.name)
						})
					})
					request.request('/mgr/info/mhm_info_machine', this.lists).then(res => {
						this.datas.code = 2
						this.datas.lists = res.data.data.list
					})
				} else if (newVal == 3) {
					uni.setNavigationBarTitle({
						title: '机器列表'
					});
					this.navs = [{
							name: '类别',
							icon: require('../../static/images/xl-list.png'),
							iconHover: require('../../static/images/xl-list-hover.png'),
							mode: 'selector',
							range: []
						},
						{
							name: '租金',
							icon: require('../../static/images/sj-list.png'),
							iconHover: require('../../static/images/sj-list-hover.png'),
							mode: 'selector',
							range: ['租金从高到底', '租金从低到高']
						},
						{
							name: '租赁方式',
							icon: require('../../static/images/xl-list.png'),
							iconHover: require('../../static/images/xl-list-hover.png'),
							mode: 'selector',
							range: []
						}
					]
					request.request('/mgr/common/get_machine', {}).then(res => {
						this.navs[0].range = []
						res.data.forEach(e => {
							this.navs[0].range.push(e.name)
						})
					})
					request.request('/mgr/common/get_unit', {}).then(res => {
						this.navs[2].range = []
						res.data.forEach(e => {
							this.navs[2].range.push(e.name)
						})
					})
					request.request('/mgr/info/mhm_info_material', this.lists).then(res => {
						this.datas.code = 3
						this.datas.lists = res.data.data.list
					})
				}
			}
		},
		mounted() {
			this.getList()
		},
		components: {
			// screen,
			listItem,
			load
		}
	}
</script>

<style lang="less" scoped>
	.local-classify {
		width: 100%;
		height: 80rpx;
		display: flex;
		border-bottom: 1px solid #eee;

		>view {
			width: 50%;
			text-align: center;
			line-height: 80rpx;

		}

		.local {
			border-right: 1px solid #eee;
		}

		picker {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;

			image {
				width: 24rpx;
				height: 12rpx;
				margin-left: 20rpx;
			}
		}

	}

	.list-page {
		padding-bottom: 16rpx;
	}

	.screen-nav {
		display: flex;
		border-bottom: solid 1px #eee;
		margin-bottom: 20rpx;
		height: 50px;

		&>view {
			width: 33%;
			height: 24px;
			line-height: 24px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: normal;
			border-right: solid 1px #eee;
			margin-top: 13px;
			display: flex;
			justify-content: center;

			&:last-child {
				border: 0;
			}

			image {
				width: 12px;
				height: 12px;
				margin-top: 6px;
			}

			text {
				font-size: 14px;
				color: #666;
				padding: 0 3px;
			}
		}

		.active {
			text {
				color: #2a4e65;
			}
		}
	}

	.screen-keyword {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20rpx;
		padding: 0 20rpx;

		view {
			position: relative;
			padding: 5px 10px;
			margin: 5px;
			background: #eee;
			color: #666;
			font-size: 12px;

			image {
				position: absolute;
				top: -7px;
				right: -7px;
				width: 14px;
				height: 14px;
			}
		}
	}
</style>
