<template name="listItem">
	<view>
		<view class="list-item-page" v-for="(item,index) in lists.lists" :key="index">
			<navigator :url="'../artisan/artisan?id=' + item.id + '&type=' + lists.code" hover-class="none" v-if="lists.code == 1">
				<view class="list-item-title">
					<text>{{item.name}}</text>
					<text>{{item.work_years}}年经验</text>
				</view>
				<view class="list-item-text">
					<text v-if="item.work_type.length >= 1">
						<text v-for="(item2,index2) in item.work_type" :key="index2" v-if="index2 == 0">{{item2.name}}</text>
						<text v-for="(item2,index2) in item.work_type" :key="index2" v-if="index2 != 0">-{{item2.name}}</text>
					</text>
					<text v-else>暂无</text>
					<text>日薪：<text>{{item.wage}}</text>￥</text>
				</view>
			</navigator>
			<navigator :url="'../artisan/artisan?id=' + item.id + '&type=' + lists.code" hover-class="none" v-if="lists.code == 2">
				<view class="list-item-title">
					<text>{{item.title}}</text>
					<text>{{item.work_years}}年经验</text>
				</view>
				<view class="list-item-text">
					<text v-if="item.work_type.length >= 1">
						<text v-for="(item2,index2) in item.work_type" :key="index2" v-if="index2 == 0">{{item2.name}}</text>
						<text v-for="(item2,index2) in item.work_type" :key="index2" v-if="index2 != 0">-{{item2.name}}</text>
					</text>
					<text v-else>暂无</text>
					<text>日薪：<text>{{item.wage}}</text>￥</text>
				</view>
			</navigator>
			<navigator :url="'../artisan/artisan?id=' + item.id + '&type=' + lists.code" hover-class="none" v-if="lists.code == 3">
				<view class="list-item-title">
					<text>{{item.title}}</text>
					<text>{{item.materialname}}</text>
				</view>
				<view class="list-item-text">
					<text>{{item.materialunit}}</text>
					<text>单价：<text>{{item.price}}</text>￥</text>
				</view>
			</navigator>
			<navigator :url="'../artisan/artisan?id=' + item.id + '&type=' + lists.code" hover-class="none" v-if="lists.code == 4">
				<view class="list-item-title">
					<text>{{item.title}}</text>
					<text>{{item.mechanical}}</text>
				</view>
				<view class="list-item-text">
					<text>{{item.machineunit}}</text>
					<text>租金：<text>{{item.price}}</text>￥</text>
				</view>
			</navigator>
		</view>
	</view>
</template>

<script>
	export default {
		name:'listItem',
		props:{
			lists: {}
		},
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="less">
	.list-item-page{
		background:#f5f5f5;
		padding:20rpx;
		width:630rpx;
		margin:0 auto;
		margin-bottom: 16rpx;
		.list-item-title{
			display: flex;
			justify-content: space-between;
			&>text{
				&:nth-child(1){
					font-size: 16px;
					color:#333;
					max-width: 460rpx;
					display: inline-block;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
				}
				&:nth-child(2){
					font-size: 12px;
					color:#666;
				}
			}
		}
		.list-item-text{
			margin-top:30rpx;
			display: flex;
			justify-content: space-between;
			height:50rpx;
			line-height: 50rpx;
			&>text{
				font-size: 14px;
				color:#333;
				&:nth-child(2){
					font-size: 12px;
					color:#666;
					text{
						font-size: 16px;
						color:#d51f1f;
					}
				}
			}
		}
	}
</style>
