<template>
	<view class="news-page">
		<view class="news-title">{{list.title}}</view>
		<view class="news-header"><text>发布日期：{{list.date}}</text><text>浏览量：{{list.click}}</text></view>
		<view class="news-describe">
			描述：<text>{{list.abstract}}</text>
		</view>
		<view class="news-main">
			<rich-text :nodes="list.content"></rich-text>
		</view>
		<view class="news-footer">
			（完）
		</view>
	</view>
</template>

<script>
	import request from '../../static/request.js';
	export default {
		data() {
			return {
				list:{}
			};
		},
		onLoad(e) {
			request.request('/mgr/news/mhm_news_detail',{id:e.id}).then(res => {
				this.list = res.data
				this.list.content = this.list.content.replace(/<img/gi, "<img style='max-width:100%;height:auto;display:block' ");
				uni.setNavigationBarTitle({
				    title: this.list.title
				});
			})
		}
	}
</script>

<style lang="less">
	.news-page{
		padding: 0 30rpx;
	}
	.news-title{
		font-size: 18px;
		text-align: center;
		color:#333;
		padding:30rpx 0;
	}
	.news-header{
		display: flex;
		justify-content: space-between;
		text{
			font-size: 12px;
			color:#888;
		}
	}
	.news-describe{
		padding:20rpx;
		background:#fff4e3;
		color:#666;
		font-size: 12px;
		margin-top:20rpx;
	}
	.news-main{
		margin-top: 20rpx;
		font-size: 13px;
		color:#555;
		padding:40rpx 20rpx;
		line-height: 1.5em;
		border-top:solid 1px #eee;
		border-bottom:solid 1px #eee;
		image{
			width: 100%;
			padding:100%;
		}
	}
	.news-footer{
		text-align: center;
		font-size: 18px;
		color:#bbb;
		padding:20rpx 0;
	}
</style>
