<script>
	export default {
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	text{
		padding:0;
		margin:0;
		font-family: "微软雅黑";
	}
	page{
		width: 100%;
		height:100%;
	}
	/* #ifdef APP-PLUS */
	.nav-bar{
		padding-top: var(--status-bar-height);
	}
	/* #endif */
	/*每个页面公共css */
</style>
