<template name="barNav">
	<view>
		<!-- #ifdef APP-PLUS -->
		<cover-view class="bar-nav"></cover-view>
		<!-- #endif -->
	</view>
</template>

<script>
	export default {
		name:'barNav',
		props:{
			
		},
		data() {
			return {
				
			};
		}
	}
</script>

<style lang="less">
	.bar-nav{
		height: var(--status-bar-height);
		width: 100%;  
		position: fixed;  
		background-color: rgba(0,0,0,.4);  
		top: 0;  
		z-index: 999;
	}
</style>
