<template name="questions">
	<view class="questions">
		<view class="test-header">
			<view @click="showModal">
				<view><image src="../static/images/jiaojuan.png"></image></view>
				<text>交卷</text>
			</view>
			<view>倒计时 10:00</view>
			<view @click="showFixed">题标 {{num}}/{{lists.length}}</view>
		</view>
		<view class="questions-cont" @touchstart="tabhovero" @touchend="tabhovert" :style="{transform: otranslateX}">
			<view v-for="(item,index) in lists" :key="index">
				<view class="test-main">
					<view class="test-title">
						<text v-if="item.code == 1">单选</text>
						<text v-else>多选</text>
						{{item.title}}
						<view class="test-title-img" v-if="item.src_title != ''">
							<image :src="item.src_title"></image>
						</view>
					</view>
					<view class="test-cont">
						<view v-for="(item2,index2) in item.testList" :key="index2" @click="testItem(index,index2,item.code)" 
						:class="{active_true:(!item.code2 && item2.code) || (item.code == 2 && item2.click_index),active:(item.code == 1 && index2 == item.oid && !item2.code) || (item.code == 2 && item2.click_index && !item2.code && !item.code2)}">
							<view>{{item.option[index2]}}</view>
							<text v-if="item.isimg == 1">{{item2.name}}</text>
							<image v-else :src="item2.name"></image>
						</view>
					</view>
				</view>
				<view class="test-btn" @click="btnNext(index)" v-if="item.code == 2 && item.code2">
					确认选项
				</view>
				<view class="test-describe" v-if="!item.code2">
					<view class="describe-title">
						<text>本题描述</text>
					</view>
					<view class="describe-cont">
						<text>正确答案：<text v-for="(item2,index2) in item.true_option" :key="index2">{{item.option[item2]}}</text></text>
						<text>您选择的是：<text v-for="(item3,index3) in item.current" :key="index3">{{item.option[item3]}}</text></text>
						<text>原因：{{item.alt}}</text>
					</view>
				</view>
			</view>
		</view>
		<view class="fixed-bottom" :class="{active:show_hide}" @click.stop="hideFixed">
			<view class="tibiao" @click.stop="nullFixed">
				<view class="tibiao-bar">
					<text class="tibiao-no3">1</text>
					<view class="tibiao-null"></view>
					<text class="tibiao-no2">2</text>
					<view class="tibiao-no"></view>
					<text class="tibiao-yes2">1</text>
					<view class="tibiao-yes"></view>
				</view>
				<view>
					<text v-for="(item,index) in lists.length" :key="index"
					:class="{active_o:lists[index].topic && !lists[index].code2,active_t:!lists[index].topic && !lists[index].code2}" @click="topic(index)">{{item+1}}</text>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name:'listItem',
		props:{
			aid:{},
			screenWidth:{}
		},
		data() {
			return {
				show_hide:false,//题标是否隐藏 默认false 为隐藏
				nums:0,//总题数
				num:1,//当前题
				widthX:0,//手指拖动距离
				translateX:0,//左右位移的距离
				istest:1,//1为练习 2为模拟 3为考试
				otranslateX:'',//左右位移的代码
				
				lists:[
					{
						title:'建筑技能测试第一题',//题目
						src_title:'',//题目是否有图片
						isimg:1,//1为文字 2为图片 选项
						code:1,//1为单选 2为多选
						option:['A','B','C','D'],//选项
						true_option:[0],//正确选项
						current:[1],//当前所选
						topic:false,//所选是否正确 默认为'' true为正确
						code2:false,//选项选择状态 默认为true false为选择
						oid:1,//选项高亮控制 默认为''
						alt:'正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案',//本题描述
						testList:[
							{
								name:'正确答案',//选项
								code:true,//是否为正确答案
								click_index:false,//选项是否选中
							},
							{
								name:'错误答案',
								code:false,
								click_index:false,
							},
							{
								name:'错误答案',
								code:false,
								click_index:false,
							},
							{
								name:'错误答案',
								code:false,
								click_index:false,
							}
						]
					},
					{
						title:'建筑技能测试第二题',
						src_title:'',//题目是否有图片 默认为''
						code:2,//1为单选 2为多选
						option:['A','B','C','D'],
						true_option:[0,2],//正确选项
						current:[0,1,3],//当前所选
						topic:false,
						code2:false,
						oid:'',
						isimg:1,//1为文字 2为图片 选项
						alt:'正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案',
						testList:[
							{
								name:'正确答案',
								code:true,
								click_index:true,
							},
							{
								name:'错误答案',
								code:false,
								click_index:true,
							},
							{
								name:'正确答案',
								code:true,
								click_index:false,
							},
							{
								name:'错误答案',
								code:false,
								click_index:true,
							}
						]
					},
					
					{
						title:'建筑技能测试第三题',
						src_title:'../static/images/banner02.jpg',//题目是否有图片
						code:2,//1为单选 2为多选
						option:['A','B','C','D'],
						true_option:[1,2,3],//正确选项
						current:[1,2,3],//当前所选
						topic:true,
						code2:false,
						oid:'',
						isimg:1,//1为文字 2为图片 选项
						alt:'正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案',
						testList:[
							{
								name:'错误答案',
								code:false,
								click_index:false,
							},
							{
								name:'正确答案',
								code:true,
								click_index:true,
							},
							{
								name:'正确答案',
								code:true,
								click_index:true,
							},
							{
								name:'正确答案',
								code:true,
								click_index:true,
							}
						],
					},
					{
						title:'建筑技能测试第四题',
						src_title:'',//题目是否有图片
						code:2,//1为单选 2为多选
						option:['A','B','C','D'],
						true_option:[1,2,3],//正确选项
						current:[],//当前所选
						topic:true,
						code2:true,
						oid:null,
						isimg:2,//1为文字 2为图片 选项
						alt:'正确答案正确答案正确答案正确答案正确答案正确答案正确答案正确答案',
						testList:[
							{
								name:'../static/images/banner01.jpg',
								code:false,
								click_index:false,
							},
							{
								name:'../static/images/banner02.jpg',
								code:true,
								click_index:false,
							},
							{
								name:'../static/images/banner03.jpg',
								code:true,
								click_index:false,
							},
							{
								name:'../static/images/banner04.jpg',
								code:true,
								click_index:false,
							}
						],
					}
				],
				ids:{//传给后台的数据
					oid:0,//人员id
					tid:0,//试卷id
					sid:0,//当前题id
					fid:[0,0]//选项id
				}
			};
		},
		onLoad() {
			
		},
		methods:{
			showModal(){
				uni.showModal({
				    title: '提示',
				    content: '确认要交卷吗？',
				    success: function (res) {
				        if (res.confirm) {
				            console.log('用户点击确定');
				        } else if (res.cancel) {
				            console.log('用户点击取消');
				        }
				    }
				});
			},
			fun_x(x){
				if(x >= 0 && this.num < this.lists.length){
					this.num ++
					this.translateX += this.screenWidth
					this.otranslateX = "translateX(-" + this.translateX + "px)"
				}else if(x < 0 && this.num > 1){
					this.num --
					this.translateX -= this.screenWidth
					this.otranslateX = "translateX(-" + this.translateX + "px)"
				}
			},
			tabhovero(e){
				this.widthX = e.changedTouches[0].clientX;
			},
			tabhovert(e){
				let x = this.widthX - e.changedTouches[0].clientX;
				var b = Math.abs(this.widthX - e.changedTouches[0].clientX);
				if(b>50){
					this.fun_x(x)
				}
			},
			testItem(a,b,c){
				let that = this
				if(that.lists[a].code2){//是否已选
					console.log(that.lists[a].testList);
					that.lists[a].testList[b].click_index = !that.lists[a].testList[b].click_index;//所选答案
					if(c == 1){//为1 表示单选
						that.lists[a].code2 = false //为false 则表示已选
						that.lists[a].oid = b
						that.ids.sid = a
						that.ids.fid = [b]
						that.lists[a].current = [b]
						if(this.num == this.lists.length){
							uni.showModal({
							    title: '提示',
							    content: '已经是最后一题了，点击确认交卷',
							    success: function (res) {
							        if (res.confirm) {
							            console.log('用户点击确定');
							        } else if (res.cancel) {
							            console.log('用户点击取消');
							        }
							    }
							});
						}else{
							if(that.lists[a].testList[b].code){
								that.lists[a].topic = true
								that.fun_x(1)
							}else{
								that.lists[a].topic = false
							}
						}
					}
				}
			},
			btnNext(e){
				let that = this
				that.lists[e].code2 = false
				that.ids.fid = []
				that.ids.sid = e
				let a = []
				that.lists[e].testList.forEach( (item,index) =>{
					if(item.click_index == true){
						that.ids.fid.push(index)
						that.lists[e].current.push(index)
						if(item.code == true){
							a.push(index)
						}
					}
				})
				if(this.num == this.lists.length){
					uni.showModal({
					    title: '提示',
					    content: '已经是最后一题了，点击确认交卷',
					    success: function (res) {
					        if (res.confirm) {
					            console.log('用户点击确定');
					        } else if (res.cancel) {
					            console.log('用户点击取消');
					        }
					    }
					});
				}else{
					if(a.length == that.lists[e].true_option.length && a.length == that.lists[e].current.length){
						that.lists[e].topic = true
						that.fun_x(e)
					}else{
						that.lists[e].topic = false
					}
				}
			},
			topic(e){
				console.log(this.lists[e].true_option,this.lists[e].current,!this.lists[e].code2);
				this.num = e + 1
				this.translateX = this.screenWidth*e
				this.otranslateX = "translateX(-" + this.translateX + "px)"
				this.show_hide = !this.show_hide
			},
			showFixed(){
				this.show_hide = !this.show_hide
			},
			hideFixed(){
				this.show_hide = !this.show_hide
			},
			nullFixed(){
				//占位 不可删
			}
		}
	}
</script>

<style lang="less">
	page{
		height:100%;
		background:#f5f5f5;
	}
	.questions{
		height:100%;
		position: relative;
		.fixed-bottom{
			width:100%;
			height:100%;
			position: fixed;
			left:0;
			top:0;
			transform:translateY(100%);
			z-index: 99;
			background:rgba(0,0,0,.4);
			transition:all .2s;
			.tibiao{
				position: absolute;
				bottom:0;
				left:0;
				background: #fff;
				width:710rpx;
				max-height:85%;
				overflow: auto;
				min-height: 50%;
				padding:30rpx 20rpx;
				.tibiao-bar{
					display: flex;
					flex-direction: row-reverse;
					padding-bottom: 30rpx;
					border-bottom: solid 1px #ddd;
					height:16px;
					line-height: 16px;
					view{
						width:10px;
						height:10px;
						border-radius: 50%;
						margin-left: 30rpx;
						margin-top:3px;
						&.tibiao-yes{
							background:#1a7bb9;
						}
						&.tibiao-no{
							background:#FF6667;
						}
						&.tibiao-null{
							background:#999;
						}
					}
					text{
						margin-left:3px;
						display: inline-block;
						font-size: 13px;
						&.tibiao-yes2{
							color:#1a7bb9;
						}
						&.tibiao-no2{
							color:#FF6667;
						}
						&.tibiao-no3{
							color:#666;
						}
					}
				}
				&>view{
					&:nth-child(2){
						text{
							margin-left:22rpx;
							margin-top:10rpx;
							display: inline-block;
							width:100rpx;
							height:100rpx;
							line-height: 100rpx;
							text-align: center;
							border-radius: 50%;
							font-size: 14px;
							color:#666;
							background:#e4e4e4;
							&:nth-child(6n+1){
								margin-left:0;
							}
							&.active_o{
								background:#beddf1;
								color:#1a7bb9;
							}
							&.active_t{
								background:#fecece;
								color:#e3494a;
							}
						}
					}
				} 
			}
			&.active{
				transform:translateY(0);
				transition:all .2s;
			}
		}
	}
	.test-header{
		position: absolute;
		top:0;
		left:0;
		z-index: 20;
		width: 690rpx;
		padding:0 30rpx;
		display: flex;
		justify-content: space-between;
		height:34px;
		line-height: 34px;
		border-bottom: solid 1px #ddd;
		background: #f5f5f5;
		view{
			color:#555;
			font-size: 14px;
			display: flex;
			image{
				margin-top:10px;
				margin-right:5px;
				width:14px;
				height:14px;
			}
			&:nth-child(1){
				font-size: 12px;
				text{
					color:#666;
				}
			}
			&:nth-child(3){
				font-size: 12px;
				text{
					color:#666;
				}
			}
		}
	}
	.questions-cont{
		height:100%;
		display: flex;
		flex-wrap: nowrap;
		transition: all .5s;
		&>view{
			width:100vw;
			min-width:100vw;
			max-width:100vw;
			height:100%;
			overflow: auto;
		}
	}
	.test-main{
		padding:0 20rpx;
		margin:49px 30rpx;
		margin-bottom: 20px;
		background:#fff;
		.test-title{
			font-size: 16px;
			color:#333;
			padding:20rpx 0;
			text{
				font-size: 10px;
				color:#fff;
				background:#aaa;
				padding:2px 5px;
				margin-right:5px;
				border-radius: 3px;
			}
			.test-title-img{
				margin:20rpx auto;
				text-align: center;
				image{
					max-width:500rpx;
					max-height:250rpx;
				}
			}
		}
		.test-cont{
			display: flex;
			flex-direction: column;
			padding-bottom: 20rpx;
			&>view{
				min-height: 40px;
				line-height: 40px;
				display: flex;
				view{
					width:30px;
					height:30px;
					line-height: 30px;
					margin-top:4px;
					margin-right:7px;
					font-size: 14px;
					border:solid 1px #ddd;
					border-radius: 50%;
					box-shadow:2px 2px 5px #e5e5e5;
					text-align: center;
					color:#666;
				}
				image{
					max-width: 560rpx;
					max-height:280rpx;
					margin-bottom: 20rpx;
				}
				text{
					font-size: 13px;
					color:#555;
				}
				&.active_true{
					view{
						background:#1a7bb9;
						border:solid 1px #1a7bb9;
						color:#fff;
						font-size: 15px;
					}
					text{
						color:#1a7bb9;
					}
				}
				&.active{
					view{
						background:#FF6667;
						border:solid 1px #FF6667;
						color:#fff;
						font-size: 15px;
					}
					text{
						color:#FF6667;
					}
				}
			}
		}
	}
	.test-btn{
		background:#1FB19E;
		font-size: 14px;
		border-radius: 6px;
		text-align: center;
		line-height: 40px;
		color:#fff;
		height:40px;
		width:150px;
		margin:20px auto;
	}
	.test-describe{
		padding:0 20rpx;
		margin-bottom: 20px;
		border-top:solid 1px #ccc;
		.describe-title{
			height:48px;
			line-height: 48px;
			display: flex;
			text{
				color:#666;
				font-size: 12px;
			}
			image{
				width:14px;
				height:14px;
				margin-top:17px;
				margin-left:3px;
			}
		}
		.describe-cont{
			background:#f5f5f5;
			padding:12rpx;
			display: flex;
			flex-direction: column;
			text{
				color:#666;
				font-size: 14px;
				line-height: 24px;
				&:nth-child(3){
					font-size: 12px;
					line-height: 20px;
				}
			}
		}
	}
	
</style>
