<template>
	<view>
		<view class="screen-nav">
			<view v-for="(item,index) in navs" :key="index" :class="{active:index==oid}">
				<picker @change="listNav" :mode="item.mode" :range="item.range" @click="hover(index)">
					<text>{{item.name}}</text>
					<image :src="index==oid?item.iconHover:item.icon"></image>
				</picker>
			</view>
		</view>
		<view class="screen-keyword" v-if="keywords.length >= 1">
			<view v-for="(item,index) in keywords" :key="index">
				<image src="../static/images/del2.png" @click="delImg(index)"></image>
				{{item}}
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name:'screen',
		props:{
			navs:{
				type:Array,
				default(){
					return []
				}
			}
		},
		data() {
			return {
				oid:0,
				keywords:[]
			};
		},
		onShow() {
			console.log(this.navs);
		},
		methods:{
			hover(e){
				this.oid = e
			},
			delImg(e){
				this.keywords.splice(e,1)
			},
			listNav(e){
				if(e.detail.value.length > 1){
					this.keywords[this.oid] = e.detail.value[1]
				}else{
					this.keywords[this.oid] = this.navs[this.oid].range[e.detail.value]
				}
				console.log(this.keywords);
			}
		}
	}
</script>

<style lang="less">
	.screen-nav{
		display: flex;
		border-bottom: solid 1px #eee;
		margin-bottom: 20rpx;
		height:50px;
		&>view{
			width:25%;
			height:24px;
			line-height: 24px;
			overflow: hidden;
			text-overflow:ellipsis;
			white-space: normal;
			border-right:solid 1px #eee;
			margin-top:13px;
			display: flex;
			justify-content: center;
			&:last-child{
				border:0;
			}
			image{
				width:12px;
				height:12px;
				margin-top:6px;
			}
			text{
				font-size: 14px;
				color:#666;
				padding:0 3px;
			}
		}
		.active{
			text{
				color:#2a4e65;
			}
		}
	}
	.screen-keyword{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20rpx;
		view{
			position: relative;
			padding:5px 10px;
			margin:5px;
			background:#eee;
			color:#666;
			font-size: 12px;
			image{
				position: absolute;
				top:-7px;
				right:-7px;
				width: 14px;
				height:14px;
			}
		}
	}
</style>
