<template>
	<view class="my-page">
		<view class="my-header nav-bar">
			<image src="../../static/images/my_bg.jpg"></image>
			<view class="my-header-cont">
				<view class="my-header-img">
					<image :src="myimg"></image>
				</view>
				<view class="my-header-text" v-if="true">
					<view>
						<text>{{myname}}</text>
						<image v-if="sex == 1" src="../../static/images/nan.png"></image>
						<image v-if="sex == 2" src="../../static/images/nv.png"></image>
					</view>
					<view>
						<text v-if="certification == 1">已实名</text>
						<text v-else>未实名</text>
					</view>
				</view>
			</view>
		</view>
		<view class="my-center">
			<view class="center-fabu" @click="centerFabu">
				<text>{{news_num}}</text>
				<text>发布的信息</text>
			</view>
			<view class="center-border"></view>
			<view class="center-collect" @click="centerCollect">
				<text>{{collect_num}}</text>
				<text>我的收藏</text>
			</view>
		</view>
		<view class="bg-border"></view>
		<view class="my-nav">
			<view>
				<navigator url="../my_private/my_private" hover-class="none">
					<view>
						<image src="../../static/images/icon_zil.png"></image>
						<text>个人资料</text>
					</view>
					<view>
						<image src="../../static/images/icon_fanh.png"></image>
					</view>
				</navigator>
			</view>
			<view>
				<navigator url="/pages/study/study" hover-class="none">
					<view>
						<image src="../../static/images/study.png"></image>
						<text>我的学习</text>
					</view>
					<view>
						<image src="../../static/images/icon_fanh.png"></image>
					</view>
				</navigator>
			</view>
			<view>
				<navigator url="browse-list/browse-list" hover-class="none">
					<view>
						<image src="../../static/images/djs.png"></image>
						<text>浏览历史</text>
					</view>
					<view>
						<image src="../../static/images/icon_fanh.png"></image>
					</view>
				</navigator>
			</view>
			<view>
				<navigator url="about/about" hover-class="none">
					<view>
						<image src="../../static/images/icon_guany.png"></image>
						<text>关于我们</text>
					</view>
					<view>
						<image src="../../static/images/icon_fanh.png"></image>
					</view>
				</navigator>
			</view>
			<view>
				<navigator url="" hover-class="none">
					<view>
						<image src="../../static/images/kf.png"></image>
						<button open-type="contact">联系客服</button>
					</view>
					<view>
						<image src="../../static/images/icon_fanh.png"></image>
					</view>
				</navigator>
			</view>
		</view>
	</view>
</template>
<script>
	import request from 'static/request.js'
	export default {
		data() {
			return {
				certification:2,
				myname:"",
				myimg:'',
				sex:0,
				news_num:0,
				collect_num:0,
			}
		},
		onShow() {
			//获取是否实名认证
			request.request('/mgr/member/mmh_real', {}).then(res => {
				this.certification = res.data
			})
			//获取个人资料
			request.request('/mgr/member/mhm_get_personal',{}).then(res => {
				if(res.data.data.name=="" || res.data.data.name==null){
					this.myname="请补充个人资料"
				}else{
					this.myname = res.data.data.name
				}
				this.myimg = res.data.data.head
				this.sex = res.data.data.sex
				this.collect_num = res.data.data.collection
				this.news_num = res.data.data.myinfo
				this.certification = res.data.data.is_real
			})
		},
		
		methods: {
			//发布
			centerFabu(){
				uni.navigateTo({
					url:'release-list/release-list'
				})
				
			},
			//收藏
			centerCollect(){
				uni.navigateTo({
					url:'collect-list/collect-list'
				})
			},
			
		},
		components:{
			
		}
	}
</script>
<style lang="less">
	.my-header{
		width:750rpx;
		height:256rpx;
		position: relative;
		&>image{
			width:100%;
			height: 100%;
			z-index: 1;
			position: absolute;
			top:0;
			left:0;
		}
		.my-header-cont{
			position: relative;
			width:750rpx;
			height:128rpx;
			z-index: 10;
			display: flex;
			padding-top:64rpx;
			.my-header-img{
				width:128rpx;
				height: 128rpx;
				border:solid 1px #fff;
				border-radius: 50%;
				overflow: hidden;
				margin-left:56rpx;
				image{
					width:100%;
					height:100%;
				}
			}
			.my-header-text{
				margin-left:30rpx;
				height: 100rpx;
				line-height: 50rpx;
				margin-top:14rpx;
				view{
					&:nth-child(1){
						display: flex;
						text{
							font-size: 14px;
							color:#fff;
						}
						image{
							width:26rpx;
							height: 26rpx;
							margin-top:12rpx;
							margin-left:10rpx;
						}
					}
					&:nth-child(2){
						text{
							font-size: 12px;
							color:#999;
						}
					}
				}
			}
			.my-header-login{
				height: 128rpx;
				
				button{
					line-height: 128rpx;
					background: none;
					font-size: 12px;
					color:#999;
				}
				button::after{
					border: none;
					background-color: none;
				}
			}
		}
	}
	//#ifdef APP-PLUS
	.my-header{
		width:750rpx;
		height:302rpx;
		&>image{
			width:100%;
			height: 100%;
		}
		&>view{
			
		}
	}
	//#endif
	.my-center{
		display: flex;
		padding:40rpx 0;
		&>view{
			width: 371rpx;
			height:100rpx;
			text-align: center;
			display: flex;
			flex-direction: column;
			text{
				&:nth-child(1){
					color:#e2aa49;
					font-size: 24px;
				}
				&:nth-child(2){
					font-size: 14px;
					color:#333;
				}
			}
		}
		.center-border{
			width:2rpx;
			height:100rpx;
			background:#ccc;
		}
	}
	.bg-border{
		background:#f5f5f5;
		height:8px;
	}
	.my-nav{
		&>view{
			height:84rpx;
			line-height: 84rpx;
			border-bottom: solid 1px #ddd;
			padding:0 20rpx;
			navigator{
				display: flex;
				justify-content: space-between;
				view{
					&:nth-child(1){
						display: flex;
						width:100%;
						image{
							width:36rpx;
							height:36rpx;
							margin-right:16rpx;
							margin-top:24rpx;
						}
						text,button{
							font-size: 14px;
							color:#444;
							background:none;
							border:0;
							padding:0;
							margin:0;
							line-height: 84rpx;
						}
						button{
							width: 100%;
							text-align: left;
						}
						button::after{
							content: none;
						}
					}
					&:nth-child(2){
						image{
							width:34rpx;
							height:34rpx;
						}
					}
				}
			}
		}
	}
</style>