<template>
	<view>
		<view class="load-page" :style="{height: off}">
			<text>正在加载</text>
			<view>
				<image src="../static/images/load.png" :animation="animationData"></image>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name:'load',
		props:{
			animationData:{},
			off:{}
		},
		data() {
			return {
				
			};
		},
		methods:{
			load(){
				
			}
		}
	}
</script>

<style lang="less">
	.load-page{
		width:100%;
		display: flex;
		justify-content: center;
		line-height: 24px;
		overflow: hidden;
		text{
			font-size: 14px;
			color:#666;
		}
		view{
			margin-left:5px;
			margin-top:1px;
			image{
				width:18px;
				height:18px;
			}
		}
	}
</style>
