<template name="search">
	<view>
		<view class="city-input">
			<view>
				<image src="../static/images/search.png"></image>
				<input type="text" :placeholder="placeholder" v-model="oval" focus="true" confirm-type="search" @confirm="btn" />
			</view>
			<text @click="btn">搜索</text>
		</view>
	</view>
</template>

<script>
	export default {
		name:'search',
		props:{
			placeholder:{},
			oval:{}
		},
		data() {
			return {
				val:''
			};
		},
		methods:{
			btn(){
				let that = this
				that.$emit("searchBtn",that.oval)
			}
		}
	}
</script>

<style lang="less">
	.city-input{
		display: flex;
		padding:20rpx;
		padding-right:0;
		width:730rpx;
		background:#eee;
		view{
			display: flex;
			width:590rpx;
			height:70rpx;
			line-height: 70rpx;
			background:#fff;
			border:solid 1px #ddd;
			image{
				width:40rpx;
				height:40rpx;
				margin:15rpx;
				margin-right:0;
			}
			input{
				width:500rpx;
				height: 50rpx;
				line-height: 50rpx;
				margin:10rpx 15rpx;
				font-size: 14px;
			}
		}
		text{
			display: inline-block;
			width:140rpx;
			height:70rpx;
			line-height: 70rpx;
			text-align: center;
			font-size: 15px;
			color:#3a90e9;
		}
	}
</style>
