<template>
	<view class="release-page">
		<view class="release-nav">
			<view v-for="(item,index) in navs" :key="index" @click="navBtn(index)" :class="{active:index==oid}">{{item}}</view>
		</view>
		<view class="release-list">
			<view class="release-item" v-for="(item,index) in lists" :key="index">
				<navigator :url="'../../artisan/artisan?id=' + item.lid + '&type=' + item.type" hover-class="none">
					<view>
						<text>{{item.title}}</text>
						<text>{{item.code}}</text>
					</view>
					<view>
						<image :src="item.head" v-if="item.type == 1"></image>
						<image :src="item.img.img" v-else></image>
					</view>
				</navigator>
			</view>
		</view>
		<view class="browse-footer" @click="delBrowse">
			清空浏览记录
		</view>
	</view>
</template>

<script>
	import request from '../../../static/request.js'
	export default {
		data() {
			return {
				oid:0,
				navs:['全部','工匠信息','项目招人','材料交易','机械设备'],
				lists:[],//获取后台的数据 
				datas:{
					offset:0,
					length:10,
					type:5
				}
			};
		},
		onLoad() {
			request.request('/mgr/collection/browse',this.datas).then(res => {
				console.log(res);
				res.data.forEach(a => {
					if(a.type == 1){
						a.title = a.name
					}
					a.code = this.navs[a.type]
				})
				this.lists = res.data
			})
		},
		methods:{
			navBtn(e){
				this.oid = e
				this.datas.offset = 0
				if(e == 0){
					this.datas.type = 5
				}else{
					this.datas.type = e
				}
				request.request('/mgr/collection/browse',this.datas).then(res => {
					res.data.forEach(a => {
						if(a.type == 1){
							a.title = a.name
						}
						a.code = this.navs[a.type]
					})
					this.lists = res.data
				})
			},
			delBrowse(){
				let that = this
				uni.showModal({
				    title: '提示',
				    content: '确认清空浏览记录吗？',
				    success: function (res) {
				        if (res.confirm) {
							request.request('/mgr/collection/mhm_empty_browse',{type:that.datas.type}).then(res => {
								request.request('/mgr/collection/browse',that.datas).then(res => {
									console.log(res);
									res.data.forEach(a => {
										if(a.type == 1){
											a.title = a.name
										}
										a.code = that.navs[a.type]
									})
									that.lists = res.data
									if(that.lists.length < 1){
										uni.showToast({
											title:'已清空浏览记录',
											icon:'none',
											duration:2000
										})
									}
								})
							})
				        } else if (res.cancel) {
				            console.log('用户点击取消');
				        }
				    }
				});
			}
		},
		onReachBottom() {
			this.datas.offset ++
			request.request('/mgr/collection/browse',this.datas).then(res => {
				if(res.data.length < 1){
					this.datas.offset --
					uni.showToast({
					    title: '暂无更多',
					    duration: 2000,
						icon:'none'
					});
				}else{
					res.data.forEach(a => {
						if(a.type == 1){
							a.title = a.name
						}
						a.code = this.navs[a.type]
						this.lists.push(a)
					})
				}
			})
		},
	}
</script>

<style lang="less">
	.release-page{
		padding-bottom: 100rpx;
	}
	.release-nav{
		display: flex;
		view{
			font-size: 12px;
			width:25%;
			height:40px;
			line-height: 40px;
			border-left:solid 1px #eee;
			background:#f4f4f4;
			color:#454545;
			text-align: center;
			border-bottom:solid 1px #eee;
			&:nth-child(1){
				borderleft:0;
			}
			&.active{
				// color:#007AFF;
				background:#fff;
				border-bottom:0;
			}
		}
	}
	.release-list{
		padding:20rpx 30rpx;
		.release-item{
			background:#f5f5f5;
			padding:16rpx 20rpx;
			margin-bottom: 20rpx;
			border-radius: 6px;
			navigator{
				display: flex;
				justify-content: space-between;
				view{
					&:nth-child(1){
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						text{
							font-size: 15px;
							color:#333;
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 2;
							overflow: hidden;
							&:nth-child(2){
								font-size: 12px;
								color:#2996dc;
							}
						}
					}
					&:nth-child(2){
						width:150rpx;
						height:150rpx;
						margin-left:20rpx;
						image{
							width:150rpx;
							height:150rpx;
						}
					}
				}
			}
		}
	}
	.browse-footer{
		position: fixed;
		z-index: 20;
		bottom:0;
		left:0;
		width:750rpx;
		height:90rpx;
		color:#fff;
		background: #2a4e65;
		text-align: center;
		line-height: 90rpx;
		font-size: 14px;
	}
</style>
